{{#each object}}
<form id="{{this.9.page}}" name="{{this.9.page}}">
	<div id="p3" style="overflow: hidden; position: relative; background-color: white; width: 935px; height: 1210px;" class="{{this.9.page}}">

		<!-- Begin shared CSS values -->
		<style class="shared-css" type="text/css">
			.t {
				transform-origin: bottom left;
				z-index: 2;
				position: absolute;
				white-space: pre;
				overflow: visible;
				line-height: 1.5;
			}
		</style>
		<!-- End shared CSS values -->
		<!-- Begin page background -->
		<div id="pg3Overlay"
			style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;">
		</div>
		<div id="pg3" style="-webkit-user-select: none;"><object width="935" height="1210" data="../assets/background/ub04.svg"
				type="image/svg+xml" id="pdf3"
				style="width:935px; height:1210px; -moz-transform:scale(1); z-index: 0;"></object></div>
		<!-- End page background -->
        <!-- Form title Inpatient / outpatient -->

		<div id="tcw_3" class="t sk_3">{{this.8.dbo_UB04.dataValues.title}}</div>
		<!-- Box1 hospital addres -->
		<div id="t4_3" class="t s4_3">1</div>

		<div id="t9l_3" class="t sg_3"><input type="text" id="box1_hosp_address"  name="box1_hosp_address" value="{{this.8.dbo_UB04.dataValues.FL1}}"></div>
		<div id="t9m_3" class="t sg_3"><input type="text" id="box1_hosp" name="box1_street" value="{{this.8.dbo_UB04.dataValues.FL1_a}}"></div>
		<div id="t9n_3" class="t sg_3"><input type="text" id="box1_city" class="width150" name="box1_city" value="{{this.8.dbo_UB04.dataValues.FL1_b}}"></div>
		<div id="t9o_3" class="t sg_3"><input type="text" id="box1_state" class="width11_5" name="box1_state" value="{{this.8.dbo_UB04.dataValues.FL1_c}}"></div>
		<div id="t9p_3" class="t sg_3"><input type="text" id="box1_zipcode" class="width30" name="box1_zipcode" value="{{this.8.dbo_UB04.dataValues.FL1_d}}"></div>

		<!-- BOX2 Hospital address -->
		<div id="t5_3" class="t s4_3">2</div>

		<div id="tbt_3" class="t sh_3"><input type="text" id="box2_hosp_address" name="box2_hosp_address" value="{{this.8.dbo_UB04.dataValues.FL2}}"></div>
		<div id="tbu_3" class="t sh_3"><input type="text" id="box2_street" name="box2_street" value="{{this.8.dbo_UB04.dataValues.FL2_a}}"></div>
		<div id="tbv_3" class="t sh_3"><input type="text" id="box2_city" class="width150" name="box2_city" value="{{this.8.dbo_UB04.dataValues.FL2_b}}"></div>
		<div id="tbw_3" class="t sh_3"><input type="text" id="box2_state" class="width11_5" name="box2_state" value="{{this.8.dbo_UB04.dataValues.FL2_c}}"></div>
		<div id="zipcode_box2" class="t sh_3"><input type="text" id="box2_zipcode" class="width30" name="box2_zipcode" value="{{this.8.dbo_UB04.dataValues.FL2_d}}"></div>

		<!-- box 3a data -->
		<div id="t7q_3" class="t s4_3">3a PAT.</div>
		<div id="t7r_3" class="t s4_3">CNTL</div>	
		<div id="t9q_3" class="t sg_3"><input type="text" id="box_3a_data" name="box_3a_data" value="{{this.8.dbo_UB04.dataValues.FL3_a}}"></div>
		<!-- box 3b data -->
		<div id="t7u_3" class="t s4_3">b. MED .</div>
		<div id="t7v_3" class="t s4_3">REC. #</div>
		<div id="taa_3" class="t sh_3"><input type="text" id="box_3b_data" class="greyBckg" name="box_3b_data" value="{{this.8.dbo_UB04.dataValues.FL3_b}}"></div>

		<!-- box 4 data -->
		<div id="t6_3" class="t s5_3">4</div>
		<div id="t7_3" class="t s5_3">TYPE</div>
		<div id="t8_3" class="t s5_3">OF BILL</div>

		<div id="t9r_3" class="t sg_3"><input type="text" id="box_4_data" class="width35" name="box_4_data" value="{{this.8.dbo_UB04.dataValues.FL4}}"></div>

		<!-- box 5 Fed Tax data -->
		<div id="tb_3" class="t s4_3">5 FED. TAX NO.</div>

		<div id="t9s_3" class="t sg_3"><input type="text" id="fed_tax" class="width89" name="fed_tax" value="{{this.8.dbo_UB04.dataValues.FL5}}"></div>

		<!-- box 6 data -->
		<div id="t9_3" class="t s4_3">FROM</div>
		<div id="ta_3" class="t s4_3">THROUGH</div>
		<!-- from -->
		<div id="t9t_3" class="t sg_3"><input type="text" id="box6_from" class="width60" name="box6_from" value="{{this.8.dbo_UB04.dataValues.FL6_a}}"></div>
		<!-- through -->
		<div id="t9u_3" class="t sg_3"><input type="text" id="box6_through" class="width60" name="box6_through" value="{{this.8.dbo_UB04.dataValues.FL6_b}}"></div>

		<!-- Box 7 -->
		<div id="tab_3" class="t sh_3"><input type="text" id="box_7" class="width70" name="box_7" value="{{this.8.dbo_UB04.dataValues.FL7}}"></div>
		
		<!-- box 8 Patient Name -->
		<div id="t86_3" class="t s4_3">8 PATIENT</div>
		<div id="t87_3" class="t s4_3">NAME</div>
		<!-- box 8a Patient ID -->
		<div id="t9z_3" class="t sh_3"><input type="text" id="patient_id" class="width170" name="patient_id" value="{{this.8.dbo_UB04.dataValues.FL8_a}}"></div>
		<!-- box 8b Patient ID -->
		<div id="ta0_3" class="t sg_3"><input type="text" id="box_8b" name="box_8b" value="{{this.8.dbo_UB04.dataValues.FL8_b}}"></div>

		<!-- box 9 patient address -->
		<div id="t8h_3" class="t s4_3">9 PATIENT</div>
		<div id="t8i_3" class="t s4_3">ADDRESS</div>
		<!-- box 9a Patient address -->
		<div id="t9v_3" class="t sg_3"><input type="text" id="patient_address" class="width370" name="patient_address" value="{{this.8.dbo_UB04.dataValues.FL9_a}}"></div>
		<!-- box 9b Patient address -->
		<!-- city -->
		<div id="t9w_3" class="t sg_3"><input type="text" id="box_9b" name="box_9b" value="{{this.8.dbo_UB04.dataValues.FL9_b}}"></div>
		<!-- state -->
		<div id="t9x_3" class="t sg_3"><input type="text" id="box_9c" class="width18" name="box_9c" value="{{this.8.dbo_UB04.dataValues.FL9_c}}"></div>
		<!-- zipcode -->
		<div id="t9y_3" class="t sg_3"><input type="text" id="box_9d" class="width70" name="box_9d" value="{{this.8.dbo_UB04.dataValues.FL9_d}}"></div>
		<!-- box 9e -->
		<div id="box_9e" class="t sg_3"><input type="text" id="box_9e" class="width18" name="box_9e" value="{{this.8.dbo_UB04.dataValues.FL9_e}}"></div>

		<!-- box 10 birthdate -->
		<div id="t4k_3" class="t s4_3">10 BIRTH DATE</div>
		<div id="ta1_3" class="t sg_3"><input type="text" id="box_10_data" class="width79 redFont" name="box_10_data" value="{{this.8.dbo_UB04.dataValues.FL10}}"></div>
		
		<!-- box 11 Sex  -->
		<div id="t4l_3" class="t s4_3">11 SEX</div>
		<div id="ta3_3" class="t sg_3"><input type="text" id="box_11_data" class="width18 redFont" name="box_11_data" value="{{this.8.dbo_UB04.dataValues.FL11}}"></div>

		<!-- box admission -->
		<div id="t2m_3" class="t s4_3">ADMISSION</div>
		<!-- box 12 Admission Date   -->
		<div id="t4m_3" class="t s4_3">12</div>
		<div id="t2p_3" class="t s4_3">DATE</div>
		<div id="ta2_3" class="t sh_3"><input type="text" id="box_12" class="width49" name="box_12" value="{{this.8.dbo_UB04.dataValues.FL12}}"></div>
		
		<!-- box 13 Admission hr -->
		<div id="t4n_3" class="t s4_3">13 HR</div>
		<div id="ta4_3" class="t sg_3"><input type="text" id="box_13_data" class="width18 redFont" name="box_13_data" value="{{this.8.dbo_UB04.dataValues.FL13}}"></div>

		<!-- box 14 Admission type-->
		<div id="t4o_3" class="t s4_3">14 TYPE</div>
		<div id="ta5_3" class="t sg_3"><input type="text" id="box_14_data" class="width18 redFont" name="box_14_data" value="{{this.8.dbo_UB04.dataValues.FL14}}"></div>

		<!-- box 15 Admission SRC -->
		<div id="t4p_3" class="t s4_3">15 SRC</div>
		<div id="ta6_3" class="t sg_3"><input type="text" id="box_15_data" class="width18 redFont" name="box_15_data" value="{{this.8.dbo_UB04.dataValues.FL15}}"></div>

		<!-- box 16 DHR -->
		<div id="t4r_3" class="t s4_3">16 DHR</div>
		<div id="ta7_3" class="t sg_3"><input type="text" id="box_16_data" class="width18 redFont" name="box_16_data" value="{{this.8.dbo_UB04.dataValues.FL16}}"></div>

		<!-- box 17 STAT -->
		<div id="t8j_3" class="t s4_3">17 STAT</div>
		<div id="ta8_3" class="t sg_3"><input type="text" id="box_17_data" class="width18 redFont" name="box_17_data" value="{{this.8.dbo_UB04.dataValues.FL17}}"></div>
		<!-- conditions -->
		<div id="t2n_3" class="t s4_3">CONDITION CODES</div>
		<!-- box 18 -->
		<div id="t4s_3" class="t s4_3">18</div>
		<div id="cond_18" class="t sg_3"><input type="text" id="box_18_data" class="width18" name="box_18_data" value="{{this.8.dbo_UB04.dataValues.FL18}}"></div>
		<!-- box 19 -->
		<div id="t4t_3" class="t s4_3">19</div>
		<div id="cond_19" class="t sg_3"><input type="text" id="box_19_data" class="width18" name="box_19_data" value="{{this.8.dbo_UB04.dataValues.FL19}}"></div>
		<!-- box 20 -->
		<div id="t4u_3" class="t s4_3">20</div>
		<div id="cond_20" class="t sg_3"><input type="text" id="box_20_data" class="width18" name="box_20_data" value="{{this.8.dbo_UB04.dataValues.FL20}}"></div>
		<!-- box 21 -->
		<div id="t4w_3" class="t s4_3">21</div>
		<div id="cond_21" class="t sg_3"><input type="text" id="box_21_data" class="width18" name="box_21_data" value="{{this.8.dbo_UB04.dataValues.FL21}}"></div>
		<!--  box 22 -->
		<div id="t4y_3" class="t s4_3">22</div>
		<div id="cond_22" class="t sg_3"><input type="text" id="box_22_data" class="width18" name="box_22_data" value="{{this.8.dbo_UB04.dataValues.FL22}}"></div>
		<!-- box 23 -->
		<div id="t51_3" class="t s4_3">23</div>
		<div id="cond_23" class="t sg_3"><input type="text" id="box_23_data" class="width18" name="box_23_data" value="{{this.8.dbo_UB04.dataValues.FL23}}"></div>
		<!-- box 24 -->
		<div id="t7t_3" class="t s4_3">24</div>
		<div id="cond_24" class="t sg_3"><input type="text" id="box_24_data" class="width18" name="box_24_data" value="{{this.8.dbo_UB04.dataValues.FL24}}"></div>
		<!-- box 25 -->
		<div id="t4x_3" class="t s4_3">25</div>
		<div id="cond_25" class="t sg_3"><input type="text" id="box_25_data" class="width18" name="box_25_data" value="{{this.8.dbo_UB04.dataValues.FL25}}"></div>
		<!-- box 26 -->
		<div id="t4z_3" class="t s4_3">26</div>
		<div id="cond_26" class="t sg_3"><input type="text" id="box_26_data" class="width18" name="box_26_data" value="{{this.8.dbo_UB04.dataValues.FL26}}"></div>
		<!-- box 27 -->
		<div id="t52_3" class="t s4_3">27</div>
		<div id="cond_27" class="t sg_3"><input type="text" id="box_27_data" class="width18" name="box_27_data" value="{{this.8.dbo_UB04.dataValues.FL27}}"></div>
		<!-- box 28 -->
		<div id="t50_3" class="t s4_3">28</div>
		<div id="cond_28" class="t sg_3"><input type="text" id="box_28_data" class="width18" name="box_28_data" value="{{this.8.dbo_UB04.dataValues.FL28}}"></div>
		
		<!-- Box 29 ACDT data -->
		<div id="t5i_3" class="t s4_3">29 ACDT</div>
		<div id="t8k_3" class="t s4_3">STATE</div>
		<div id="tag_3" class="t sh_3"><input type="text" id="box_29_data" class="width18" name="box_29_data" value="{{this.8.dbo_UB04.dataValues.FL29}}"></div>

		<!-- Box 30 data -->
		<div id="t5j_3" class="t s4_3">30</div>
		<div id="tah_3" class="t sh_3"><input type="text" id="box_30_data" class="width100" name="box_30_data" value="{{this.8.dbo_UB04.dataValues.FL30}}"></div>
		
		<!-- box 31 -->
		<div id="t5l_3" class="t s4_3">31</div>
		<div id="t8v_3" class="t s4_3">OCCURRENCE</div>
		<div id="t2x_3" class="t s4_3">CODE</div>
		<div id="t2y_3" class="t s4_3">DATE</div>
		<!-- Box 31 Code data -->
		<div id="code_31" class="t sh_3"><input type="text" id="box_31_code" class="width18" name="box_31_code" value="{{this.8.dbo_UB04.dataValues.FL31_a}}"></div>
		<!-- Box 31 Date data -->
		<div id="date_31" class="t sh_3"><input type="text" id="box_31_date" class="width60" name="box_31_date" value="{{this.8.dbo_UB04.dataValues.FL31_a1}}"></div>
		<!-- box 32 -->
		<div id="t5k_3" class="t s5_3">32</div>
		<div id="t2q_3" class="t s5_3">OCCURRENCE</div>
		<div id="t2z_3" class="t s5_3">CODE</div>
		<div id="t55_3" class="t s5_3">DATE</div>
		<!-- Box 32 Code data -->
		<div id="code_32" class="t sh_3"><input type="text" id="box_32_code" class="width18" name="box_32_code" value="{{this.8.dbo_UB04.dataValues.FL32_a}}"></div>
		<!-- Box 32 Date data -->
		<div id="date_32" class="t sh_3"><input type="text" id="box_32_date" class="width60" name="box_32_date" value="{{this.8.dbo_UB04.dataValues.FL32_a1}}"></div>
		<!-- box 33 -->
		<div id="t5m_3" class="t s4_3">33</div>
		<div id="t2r_3" class="t s4_3">OCCURRENCE</div>
		<div id="t30_3" class="t s4_3">CODE</div>
		<div id="t4q_3" class="t s4_3">DATE</div>
		<!-- Box 33 Code data -->
		<div id="code_33" class="t sh_3"><input type="text" id="box_33_code" class="width18" name="box_33_code" value="{{this.8.dbo_UB04.dataValues.FL33_a}}"></div>
		<!-- Box 33 Date data -->
		<div id="date_33" class="t sh_3"><input type="text" id="box_33_date" class="width60" name="box_33_date" value="{{this.8.dbo_UB04.dataValues.FL33_a1}}"></div>
		<!-- box 34 -->
		<div id="t5n_3" class="t s5_3">34</div>
		<div id="t2s_3" class="t s5_3">OCCURRENCE</div>
		<div id="t31_3" class="t s5_3">CODE</div>
		<div id="t32_3" class="t s5_3">DATE</div>
		<!-- Box 34 Code data -->
		<div id="code_34" class="t sh_3"><input type="text" id="box_34_code" class="width18" name="box_34_code" value="{{this.8.dbo_UB04.dataValues.FL34_a}}"></div>
		<!-- Box 34 Date data -->
		<div id="date_34" class="t sh_3"><input type="text" id="box_34_date" class="width60" name="box_34_date" value="{{this.8.dbo_UB04.dataValues.FL34_a1}}"></div>
		<!-- box 35 -->
		<div id="t5o_3" class="t s4_3">35</div>
		<div id="t2t_3" class="t s4_3">OCCURRENCE SPAN</div>
		<div id="t33_3" class="t s4_3">CODE</div>
		<div id="t4v_3" class="t s4_3">FROM</div>
		<div id="t5h_3" class="t s4_3">THROUGH</div>
		<!-- Box 35 Code data -->
		<div id="code_35" class="t sh_3"><input type="text" id="box_35_code" class="width18" name="box_35_code" value="{{this.8.dbo_UB04.dataValues.FL35_a}}"></div>
		<!-- Box 35 FROM data -->
		<div id="from_35" class="t sh_3"><input type="text" id="box_35_from" class="width60" name="box_35_from" value="{{this.8.dbo_UB04.dataValues.FL35_a1}}"></div>
		<!-- Box 35 THROUGH data -->
		<div id="through_35" class="t sh_3"><input type="text" id="box_35_through" class="width60" name="box_35_through" value="{{this.8.dbo_UB04.dataValues.FL35_a2}}"></div>
		<!-- box 36 -->
		<div id="t5p_3" class="t s4_3">36</div>
		<div id="t2v_3" class="t s4_3">OCCURRENCE SPAN</div>
		<div id="t53_3" class="t s4_3">CODE</div>
		<div id="t54_3" class="t s4_3">FROM</div>
		<div id="t34_3" class="t s4_3">THROUGH</div>
		<!-- Box 36 Code data -->
		<div id="code_36" class="t sh_3"><input type="text" id="box_36_code" class="width18" name="box_36_code" value="{{this.8.dbo_UB04.dataValues.FL36_a}}"></div>
		<!-- Box 36 FROM data -->
		<div id="from_36" class="t sh_3"><input type="text" id="box_36_from" class="width60" name="box_36_from" value="{{this.8.dbo_UB04.dataValues.FL36_a1}}"></div>
		<!-- Box 36 THROUGH data -->
		<div id="through_36" class="t sh_3"><input type="text" id="box_36_through" class="width60" name="box_36_through" value="{{this.8.dbo_UB04.dataValues.FL36_a2}}"></div>

		<!-- Box 37 data -->
		<div id="t5q_3" class="t s4_3">37</div>
		<div id="box_37" class="t sh_3"><input type="text" id="box_37" class="width70" name="box_37" value="{{this.8.dbo_UB04.dataValues.FL37}}"></div>

		<!-- Box 31b Code data -->
		<div id="code_31b" class="t sh_3"><input type="text" id="box_31b_code" class="width18 greyBckg" name="box_31b_code" value="{{this.8.dbo_UB04.dataValues.FL31_b}}"></div>
		<!-- Box 31b Date data -->
		<div id="date_31b" class="t sh_3"><input type="text" id="box_31b_date" class="width60 greyBckg" name="box_31b_date" value="{{this.8.dbo_UB04.dataValues.FL31_b1}}"></div>
		<!-- Box 32b Code data -->
		<div id="code_32b" class="t sh_3"><input type="text" id="box_32b_code" class="width18 greyBckg" name="box_32b_code" value="{{this.8.dbo_UB04.dataValues.FL32_b}}"></div>
		<!-- Box 32b Date data -->
		<div id="date_32b" class="t sh_3"><input type="text" id="box_32b_date" class="width60 greyBckg" name="box_32b_date" value="{{this.8.dbo_UB04.dataValues.FL32_b1}}"></div>
		<!-- Box 33b Code data -->
		<div id="code_33b" class="t sh_3"><input type="text" id="box_33b_code" class="width18 greyBckg" name="box_33b_code" value="{{this.8.dbo_UB04.dataValues.FL33_b}}"></div>
		<!-- Box 33b Date data -->
		<div id="date_33b" class="t sh_3"><input type="text" id="box_33b_date" class="width60 greyBckg" name="box_33b_date" value="{{this.8.dbo_UB04.dataValues.FL33_b1}}"></div>
		<!-- Box 34b Code data -->
		<div id="code_34b" class="t sh_3"><input type="text" id="box_34b_code" class="width18 greyBckg" name="box_34b_code" value="{{this.8.dbo_UB04.dataValues.FL34_b}}"></div>
		<!-- Box 34b Date data -->
		<div id="date_34b" class="t sh_3"><input type="text" id="box_34b_date" class="width60 greyBckg" name="box_34b_date" value="{{this.8.dbo_UB04.dataValues.FL34_b1}}"></div>
		<!-- Box 35b Code data -->
		<div id="code_35b" class="t sh_3"><input type="text" id="box_35b_code" class="width18 greyBckg" name="box_35b_code" value="{{this.8.dbo_UB04.dataValues.FL35_b}}"></div>
		<!-- Box 35b FROM data -->
		<div id="from_35b" class="t sh_3"><input type="text" id="box_35b_from" class="width60 greyBckg" name="box_35b_from" value="{{this.8.dbo_UB04.dataValues.FL35_b1}}"></div>
		<!-- Box 35b THROUGH data -->
		<div id="through_35b" class="t sh_3"><input type="text" id="box_35b_through" class="width60 greyBckg" name="box_35b_through" value="{{this.8.dbo_UB04.dataValues.FL35_b2}}"></div>
		<!-- Box 36b Code data -->
		<div id="code_36b" class="t sh_3"><input type="text" id="box_36b_code" class="width18 greyBckg" name="box_36b_code" value="{{this.8.dbo_UB04.dataValues.FL36_b}}"></div>
		<!-- Box 36b FROM data -->
		<div id="from_36b" class="t sh_3"><input type="text" id="box_36b_from" class="width60 greyBckg" name="box_36b_from" value="{{this.8.dbo_UB04.dataValues.FL36_b1}}"></div>
		<!-- Box 36b THROUGH data -->
		<div id="through_36b" class="t sh_3"><input type="text" id="box_36b_through" class="width60 greyBckg" name="box_36b_through" value="{{this.8.dbo_UB04.dataValues.FL36_b2}}"></div>

		<!-- Box 37b data -->
		<div id="box_37b" class="t sh_3"><input type="text" id="box_37b" class="width70 greyBckg" name="box_37b" value="{{this.8.dbo_UB04.dataValues.FL37_b}}"></div>

		<!-- box 38 Hospital addres -->
		<div id="t5r_3" class="t s4_3">38</div>
		<!-- Box 38 hospital -->
		<div id="taj_3" class="t sh_3"><input type="text" id="box_38_hospital" class="drawBorders" name="box_38_hospital" value="{{this.8.dbo_UB04.dataValues.FL38Name}}"></div>
		<!-- Box 38 street -->
		<div id="tak_3" class="t sh_3"><input type="text" id="box_38_street" class="drawBorders" name="box_38_street" value="{{this.8.dbo_UB04.dataValues.FL38Street}}"></div>
		<!-- Box 38 city -->
		<div id="tal_3" class="t sh_3"><input type="text" id="box_38_city" class="drawBorders" name="box_38_city" value="{{this.8.dbo_UB04.dataValues.FL38City}}"></div>
		<!-- Box 38 state -->
		<div id="state_38" class="t sh_3"><input type="text" id="box_38_state" class="width25 drawBorders" name="box_38_state" value="{{this.8.dbo_UB04.dataValues.FL38State}}"></div>
		<!-- Box 38 zipcode -->
		<div id="tam_3" class="t sh_3"><input type="text" id="box_38_zipcode" class="width155 drawBorders" name="box_38_zipcode" value="{{this.8.dbo_UB04.dataValues.FL38Zip}}"></div>
		
		<!-- box 39 -->
		<div id="t5s_3" class="t s4_3">39</div>
		<div id="t35_3" class="t s4_3">VALUE CODES</div>
		<div id="t3b_3" class="t s4_3">CODE</div>
		<div id="t3c_3" class="t s4_3">AMOUNT</div>
		<!-- Box 39 code data -->
		<div id="tan_3" class="t sh_3"><input type="text" id="box_39_code" class="width18" name="box_39_code" value="{{this.8.dbo_UB04.dataValues.FL39_a1}}"></div>
		<!-- Box 39 amount data -->
		<div id="tao_3" class="t sh_3"><input type="text" id="box_39_amount" class="width85" name="box_39_amount" value="{{this.8.dbo_UB04.dataValues.FL39_a2}}"></div>
		<!-- Box 39b code data -->
		<div id="code_39b" class="t sh_3"><input type="text" id="box_39b_code" class="width18 greyBckg" name="box_39b_code" value="{{this.8.dbo_UB04.dataValues.FL39_b1}}"></div>
		<!-- Box 39b amount data -->
		<div id="amount_39b" class="t sh_3"><input type="text" id="box_39b_amount" class="width85 greyBckg" name="box_39b_amount" value="{{this.8.dbo_UB04.dataValues.FL39_b2}}"></div>
		<!-- Box 39c code data -->
		<div id="code_39c" class="t sh_3"><input type="text" id="box_39c_code" class="width18" name="box_39c_code" value="{{this.8.dbo_UB04.dataValues.FL39_c1}}"></div>
		<!-- Box 39c amount data -->
		<div id="amount_39c" class="t sh_3"><input type="text" id="box_39c_amount" class="width85" name="box_39c_amount" value="{{this.8.dbo_UB04.dataValues.FL39_c2}}"></div>
		<!-- Box 39d code data -->
		<div id="code_39d" class="t sh_3"><input type="text" id="box_39d_code" class="width18 greyBckg" name="box_39d_code" value="{{this.8.dbo_UB04.dataValues.FL39_d1}}"></div>
		<!-- Box 39d amount data -->
		<div id="amount_39d" class="t sh_3"><input type="text" id="box_39d_amount" class="width85 greyBckg" name="box_39d_amount" value="{{this.8.dbo_UB04.dataValues.FL39_d2}}"></div>

		<!-- box 40 -->
		<div id="t5t_3" class="t s5_3">40</div>
		<div id="t37_3" class="t s5_3">VALUE CODES</div>
		<div id="t3d_3" class="t s5_3">CODE</div>
		<div id="t3e_3" class="t s5_3">AMOUNT</div>
		<!-- Box 40 code data -->
		<div id="code_40" class="t sh_3"><input type="text" id="box_40_code" class="width18" name="box_40_code" value="{{this.8.dbo_UB04.dataValues.FL40_a1}}"></div>
		<!-- Box 40 amount data -->
		<div id="amount_40" class="t sh_3"><input type="text" id="box_40_amount" class="width85" name="box_40_amount" value="{{this.8.dbo_UB04.dataValues.FL40_a2}}"></div>
		<!-- Box 40b code data -->
		<div id="code_40b" class="t sh_3"><input type="text" id="box_40b_code" class="width18 greyBckg" name="box_40b_code" value="{{this.8.dbo_UB04.dataValues.FL40_b1}}"></div>
		<!-- Box 40b amount data -->
		<div id="amount_40b" class="t sh_3"><input type="text" id="box_40b_amount" class="width85 greyBckg" name="box_40b_amount" value="{{this.8.dbo_UB04.dataValues.FL40_b2}}"></div>
		<!-- Box 40c code data -->
		<div id="code_40c" class="t sh_3"><input type="text" id="box_40c_code" class="width18" name="box_40c_code" value="{{this.8.dbo_UB04.dataValues.FL40_c1}}"></div>
		<!-- Box 40c amount data -->
		<div id="amount_40c" class="t sh_3"><input type="text" id="box_40c_amount" class="width85" name="box_40c_amount" value="{{this.8.dbo_UB04.dataValues.FL40_c2}}"></div>
		<!-- Box 40d code data -->
		<div id="code_40d" class="t sh_3"><input type="text" id="box_40d_code" class="width18 greyBckg" name="box_40d_code" value="{{this.8.dbo_UB04.dataValues.FL40_d1}}"></div>
		<!-- Box 40d amount data -->
		<div id="amount_40d" class="t sh_3"><input type="text" id="box_40d_amount" class="width85 greyBckg" name="box_40d_amount" value="{{this.8.dbo_UB04.dataValues.FL40_d2}}"></div>

		<!-- box 41 -->
		<div id="t5u_3" class="t s4_3">41</div>
		<div id="t39_3" class="t s4_3">VALUE CODES</div>
		<div id="t3f_3" class="t s4_3">CODE</div>
		<div id="t3g_3" class="t s4_3">AMOUNT</div>
		<!-- Box 41 code data -->
		<div id="code_41" class="t sh_3"><input type="text" id="box_41_code" class="width18" name="box_41_code" value="{{this.8.dbo_UB04.dataValues.FL41_a1}}"></div>
		<!-- Box 41 amount data -->
		<div id="amount_41" class="t sh_3"><input type="text" id="box_41_amount" class="width85" name="box_41_amount" value="{{this.8.dbo_UB04.dataValues.FL41_a2}}"></div>
		<!-- Box 41b code data -->
		<div id="code_41b" class="t sh_3"><input type="text" id="box_41b_code" class="width18 greyBckg" name="box_41b_code" value="{{this.8.dbo_UB04.dataValues.FL41_b1}}"></div>
		<!-- Box 41b amount data -->
		<div id="amount_41b" class="t sh_3"><input type="text" id="box_41b_amount" class="width85 greyBckg" name="box_41b_amount" value="{{this.8.dbo_UB04.dataValues.FL41_b2}}"></div>	
		<!-- Box 41c code data -->
		<div id="code_41c" class="t sh_3"><input type="text" id="box_41c_code" class="width18" name="box_41c_code" value="{{this.8.dbo_UB04.dataValues.FL41_c1}}"></div>
		<!-- Box 41c amount data -->
		<div id="amount_41c" class="t sh_3"><input type="text" id="box_41c_amount" class="width85" name="box_41c_amount" value="{{this.8.dbo_UB04.dataValues.FL41_c2}}"></div>
 		<!-- Box 41d code data -->
		<div id="code_41d" class="t sh_3"><input type="text" id="box_41d_code" class="width18 greyBckg" name="box_41d_code" value="{{this.8.dbo_UB04.dataValues.FL41_d1}}"></div>
		<!-- Box 41d amount data -->
		<div id="amount_41d" class="t sh_3"><input type="text" id="box_41d_amount" class="width85 greyBckg" name="box_41d_amount" value="{{this.8.dbo_UB04.dataValues.FL41_d2}}"></div>
		
		<!-- box 42 - 49 -->
		<div id="t5v_3" class="t sb_3">42</div>
		<div id="t5w_3" class="t sb_3">REV. CD.</div>
		<div id="t5y_3" class="t sb_3">43</div>
		<div id="t5z_3" class="t sb_3">DESCRIPTION</div>
		<div id="t7x_3" class="t sb_3">44 &nbsp; HCPCS / RATE / HIPPS CODE</div>
		<div id="t61_3" class="t sb_3">45 &nbsp; SERV. &nbsp; DATE</div>
		<div id="t64_3" class="t sb_3">46 &nbsp; SERV. &nbsp; UNITS</div>
		<div id="t68_3" class="t sb_3">47 &nbsp; TOTAL &nbsp; CHARGES</div>
		<div id="t6b_3" class="t sb_3">48 &nbsp; NON-COVERED CHARGES</div>
		<div id="t6d_3" class="t sb_3">49</div>
		
		<!-- Box 42_1 -->
		<div id="taq_3" class="t sg_3"><input type="text" id="box_42_1" class="width35 redFont" name="box_42_1" value="{{this.0.code1}}"></div>
		<!-- Box 43_1 -->
		<div id="tar_3" class="t sg_3"><input type="text" id="box_43_1" class="redFont" name="box_43_1" value="{{this.1.serv1}}"></div>
		<!-- Box 44_1 -->
		<div id="taw_3" class="t sg_3"><input type="text" id="box_44_1" class="width130 redFont" name="box_44_1" value="{{this.2.rate1}}"></div>
		<!-- box 45_1 -->
		<div id="box45_1" class="t sb_3"><input type="text" id="box_45_1" class="width60" name="box_45_1" value="{{this.3.date1}}"></div>
		<!-- Box 46_1 -->
		<div id="tax_3" class="t sg_3"><input type="text" id="box_46_1" class="width70 redFont" name="box_46_1" value="{{this.4.unit1}}"></div>
		<!-- Box 47_1 -->
		<div id="tay_3" class="t sg_3"><input type="text" id="box_47_1" class="width85 redFont" name="box_47_1" value="{{this.5.charge1}}"></div>
		<!-- Box 48_1 -->
		<div id="tb3_3" class="t sh_3"><input type="text" id="box_48_1" class="width85 redFont" name="box_48_1" value="{{this.6.nonCov1}}"></div>
		<!-- Box 49_1 -->
		<div id="tb1_3" class="t sh_3"><input type="text" id="box_49_1" class="width18" name="box_49_1" value="{{this.7.nubc1}}"></div>

		<!-- Box 42_2 -->
		<div id="tas_3" class="t sg_3"><input type="text" id="box_42_2" class="width35 redFont greyBckg" name="box_42_2" value="{{this.0.code2}}"></div>
		<!-- Box 43_2 -->
		<div id="tat_3" class="t sg_3"><input type="text" id="box_43_2" class="redFont greyBckg" name="box_43_2" value="{{this.1.serv2}}"></div>
		<!-- Box 44_2 -->
		<div id="box44_2" class="t sg_3"><input type="text" id="box_44_2" class="width130 redFont greyBckg" name="box_44_2" value="{{this.2.rate2}}"></div>
		<!-- box 45_2 -->
		<div id="box45_2" class="t sb_3"><input type="text" id="box_45_2" class="width60 greyBckg" name="box_45_2" value="{{this.3.date2}}"></div>
		<!-- box 46_2 -->
		<div id="tcv_3" class="t sg_3"><input type="text" id="box_46_2" class="width70 redFont greyBckg" name="box_46_2" value="{{this.4.unit2}}"></div>
		<!-- Box 47_2 -->
		<div id="taz_3" class="t sg_3"><input type="text" id="box_47_2" class="width85 redFont greyBckg" name="box_47_2" value="{{this.5.charge2}}"></div>
		<!-- Box 48_2 -->
		<div id="tb4_3" class="t sh_3"><input type="text" id="box_48_2" class="width85 redFont greyBckg" name="box_48_2" value="{{this.6.nonCov2}}"></div>
		<!-- Box 49_2 -->
		<div id="tb2_3" class="t sh_3"><input type="text" id="box_49_2" class="width18 greyBckg" name="box_49_2" value="{{this.7.nubc2}}"></div>

		<!-- Box 42_3-->
		<div id="tau_3" class="t sg_3"><input type="text" id="box_42_3" class="width35 redFont" name="box_42_3" value="{{this.0.code3}}"></div>
		<!-- Box 43_3 -->
		<div id="tav_3" class="t sg_3"><input type="text" id="box_43_3" class="redFont" name="box_43_3" value="{{this.1.serv3}}"></div>
		<!-- Box 44_3 -->
		<div id="box44_3" class="t sg_3"><input type="text" id="box_44_3" class="width130 redFont" name="box_44_3" value="{{this.2.rate3}}"></div>
		<!-- box 45_3 -->
		<div id="box45_3" class="t sb_3"><input type="text" id="box_45_3" class="width60" name="box_45_3" value="{{this.3.date3}}"></div>
		<!-- box 46_3 -->
		<div id="box46_3" class="t 
		sg_3"><input type="text" id="box_46_3" class="width70 redFont" name="box_46_3" value="{{this.4.unit3}}"></div>
		<!-- Box 47_3 -->
		<div id="tb0_3" class="t sg_3"><input type="text" id="box_47_3" class="width85 redFont" name="box_47_3" value="{{this.5.charge3}}"></div>
		<!-- Box 48_3 -->
		<div id="tb5_3" class="t sh_3"><input type="text" id="box_48_3" class="width85 redFont" name="box_48_3" value="{{this.6.nonCov3}}"></div>
		<!-- Box 49_3 -->
		<div id="box49_3" class="t sh_3"><input type="text" id="box_49_3" class="width18" name="box_49_3" value="{{this.7.nubc3}}"></div>

		<!-- Box 42_4-->
		<div id="box42_4" class="t sg_3"><input type="text" id="box_42_4" class="width35 redFont greyBckg" name="box_42_4" value="{{this.0.code4}}"></div>
		<!-- Box 43_4 -->
		<div id="box43_4" class="t sg_3"><input type="text" id="box_43_4" class="redFont greyBckg" name="box_43_4" value="{{this.1.serv4}}"></div>
		<!-- Box 44_4 -->
		<div id="box44_4" class="t sg_3"><input type="text" id="box_44_4" class="width130 redFont greyBckg" name="box_44_4" value="{{this.2.rate4}}"></div>
		<!-- box 45_4 -->
		<div id="box45_4" class="t sb_3"><input type="text" id="box_45_4" class="width60 greyBckg" name="box_45_4" value="{{this.3.date4}}"></div>
		<!-- box 46_4 -->
		<div id="box46_4" class="t 
		sg_3"><input type="text" id="box_46_4" class="width70 redFont greyBckg" name="box_46_4" value="{{this.4.unit4}}"></div>
		<!-- Box 47_4 -->
		<div id="box47_4" class="t sg_3"><input type="text" id="box_47_4" class="width85 redFont greyBckg" name="box_47_4" value="{{this.5.charge4}}"></div>
		<!-- Box 48_4 -->
		<div id="box48_4" class="t sh_3"><input type="text" id="box_48_4" class="width85 redFont greyBckg" name="box_48_4" value="{{this.6.nonCov4}}"></div>
		<!-- Box 49_4 -->
		<div id="box49_4" class="t sh_3"><input type="text" id="box_49_4" class="width18 greyBckg" name="box_49_4" value="{{this.7.nubc4}}"></div>

		<!-- Box 42_5-->
		<div id="box42_5" class="t sg_3"><input type="text" id="box_42_5" class="width35 redFont" name="box_42_5" value="{{this.0.code5}}"></div>
		<!-- Box 43_5 -->
		<div id="box43_5" class="t sg_3"><input type="text" id="box_43_5" class="redFont" name="box_43_5" value="{{this.1.serv5}}"></div>
		<!-- Box 44_5 -->
		<div id="box44_5" class="t sg_3"><input type="text" id="box_44_5" class="width130 redFont" name="box_44_5" value="{{this.2.rate5}}"></div>
		<!-- box 45_5 -->
		<div id="box45_5" class="t sb_3"><input type="text" id="box_45_5" class="width60" name="box_45_5" value="{{this.3.date5}}"></div>
		<!-- box 46_5 -->
		<div id="box46_5" class="t 
		sg_3"><input type="text" id="box_46_5" class="width70 redFont" name="box_46_5" value="{{this.4.unit5}}"></div>
		<!-- Box 47_5 -->
		<div id="box47_5" class="t sg_3"><input type="text" id="box_47_5" class="width85 redFont" name="box_47_5" value="{{this.5.charge5}}"></div>
		<!-- Box 48_5 -->
		<div id="box48_5" class="t sh_3"><input type="text" id="box_48_5" class="width85 redFont" name="box_48_5" value="{{this.6.nonCov5}}"></div>
		<!-- Box 49_5 -->
		<div id="box49_5" class="t sh_3"><input type="text" id="box_49_5" class="width18" name="box_49_5" value="{{this.7.nubc5}}"></div>
		<!-- Box 42_6-->
		<div id="box42_6" class="t sg_3"><input type="text" id="box_42_6" class="width35 redFont greyBckg" name="box_42_6" value="{{this.0.code6}}"></div>
		<!-- Box 43_6 -->
		<div id="box43_6" class="t sg_3"><input type="text" id="box_43_6" class="redFont greyBckg" name="box_43_6" value="{{this.1.serv6}}"></div>
		<!-- Box 44_6 -->
		<div id="box44_6" class="t sg_3"><input type="text" id="box_44_6" class="width130 redFont greyBckg" name="box_44_6" value="{{this.2.rate6}}"></div>
		<!-- box 45_6 -->
		<div id="box45_6" class="t sb_3"><input type="text" id="box_45_6" class="width60 greyBckg" name="box_45_6" value="{{this.3.date6}}"></div>
		<!-- box 46_6 -->
		<div id="box46_6" class="t 
		sg_3"><input type="text" id="box_46_6" class="width70 redFont greyBckg" name="box_46_6" value="{{this.4.unit6}}"></div>
		<!-- Box 47_6 -->
		<div id="box47_6" class="t sg_3"><input type="text" id="box_47_6" class="width85 redFont greyBckg" name="box_47_6" value="{{this.5.charge6}}"></div>
		<!-- Box 48_6 -->
		<div id="box48_6" class="t sh_3"><input type="text" id="box_48_6" class="width85 redFont greyBckg" name="box_48_6" value="{{this.6.nonCov6}}"></div>
		<!-- Box 49_6 -->
		<div id="box49_6" class="t sh_3"><input type="text" id="box_49_6" class="width18 greyBckg" name="box_49_6" value="{{this.7.nubc6}}"></div>

		<!-- Box 42_7-->
		<div id="box42_7" class="t sg_3"><input type="text" id="box_42_7" class="width35 redFont" name="box_42_7" value="{{this.0.code7}}"></div>
		<!-- Box 43_7 -->
		<div id="box43_7" class="t sg_3"><input type="text" id="box_43_7" class="redFont" name="box_43_7" value="{{this.1.serv7}}"></div>
		<!-- Box 44_7 -->
		<div id="box44_7" class="t sg_3"><input type="text" id="box_44_7" class="width130 redFont" name="box_44_7" value="{{this.2.rate7}}"></div>
		<!-- box 45_7 -->
		<div id="box45_7" class="t sb_3"><input type="text" id="box_45_7" class="width60" name="box_45_7" value="{{this.3.date7}}"></div>
		<!-- box 46_7 -->
		<div id="box46_7" class="t 
		sg_3"><input type="text" id="box_46_7" class="width70 redFont" name="box_46_7" value="{{this.4.unit7}}"></div>
		<!-- Box 47_7 -->
		<div id="box47_7" class="t sg_3"><input type="text" id="box_47_7" class="width85 redFont" name="box_47_7" value="{{this.5.charge7}}"></div>
		<!-- Box 48_7 -->
		<div id="box48_7" class="t sh_3"><input type="text" id="box_48_7" class="width85 redFont" name="box_48_7" value="{{this.6.nonCov7}}"></div>
		<!-- Box 49_7 -->
		<div id="box49_7" class="t sh_3"><input type="text" id="box_49_7" class="width18" name="box_49_7" value="{{this.7.nubc7}}"></div>

		<!-- Box 42_8-->
		<div id="box42_8" class="t sg_3"><input type="text" id="box_42_8" class="width35 redFont greyBckg" name="box_42_8" value="{{this.0.code8}}"></div>
		<!-- Box 43_8 -->
		<div id="box43_8" class="t sg_3"><input type="text" id="box_43_8" class="redFont greyBckg" name="box_43_8" value="{{this.1.serv8}}"></div>
		<!-- Box 44_8 -->
		<div id="box44_8" class="t sg_3"><input type="text" id="box_44_8" class="width130 redFont greyBckg" name="box_44_8" value="{{this.2.rate8}}"></div>
		<!-- box 45_8 -->
		<div id="box45_8" class="t sb_3"><input type="text" id="box_45_8" class="width60 greyBckg" name="box_45_8" value="{{this.3.date8}}"></div>
		<!-- box 46_8 -->
		<div id="box46_8" class="t 
		sg_3"><input type="text" id="box_46_8" class="width70 redFont greyBckg" name="box_46_8" value="{{this.4.unit8}}"></div>
		<!-- Box 47_8 -->
		<div id="box47_8" class="t sg_3"><input type="text" id="box_47_8" class="width85 redFont greyBckg" name="box_47_8" value="{{this.5.charge8}}"></div>
		<!-- Box 48_8 -->
		<div id="box48_8" class="t sh_3"><input type="text" id="box_48_8" class="width85 redFont greyBckg" name="box_48_8" value="{{this.6.nonCov8}}"></div>
		<!-- Box 49_8 -->
		<div id="box49_8" class="t sh_3"><input type="text" id="box_49_8" class="width18 greyBckg" name="box_49_8" value="{{this.7.nubc8}}"></div>

		<!-- Box 42_9-->
		<div id="box42_9" class="t sg_3"><input type="text" id="box_42_9" class="width35 redFont" name="box_42_9" value="{{this.0.code9}}"></div>
		<!-- Box 43_9 -->
		<div id="box43_9" class="t sg_3"><input type="text" id="box_43_9" class="redFont" name="box_43_9" value="{{this.1.serv9}}"></div>
		<!-- Box 44_9 -->
		<div id="box44_9" class="t sg_3"><input type="text" id="box_44_9" class="width130 redFont" name="box_44_9" value="{{this.2.rate9}}"></div>
		<!-- box 45_9 -->
		<div id="box45_9" class="t sb_3"><input type="text" id="box_45_9" class="width60" name="box_45_9" value="{{this.3.date9}}"></div>
		<!-- box 46_9 -->
		<div id="box46_9" class="t 
		sg_3"><input type="text" id="box_46_9" class="width70 redFont" name="box_46_9" value="{{this.4.unit9}}"></div>
		<!-- Box 47_9 -->
		<div id="box47_9" class="t sg_3"><input type="text" id="box_47_9" class="width85 redFont" name="box_47_9" value="{{this.5.charge9}}"></div>
		<!-- Box 48_9 -->
		<div id="box48_9" class="t sh_3"><input type="text" id="box_48_9" class="width85 redFont" name="box_48_9" value="{{this.6.nonCov9}}"></div>
		<!-- Box 49_9 -->
		<div id="box49_9" class="t sh_3"><input type="text" id="box_49_9" class="width18" name="box_49_9" value="{{this.7.nubc9}}"></div>

		<!-- Box 42_10-->
		<div id="box42_10" class="t sg_3"><input type="text" id="box_42_10" class="width35 redFont greyBckg" name="box_42_10" value="{{this.0.code10}}"></div>
		<!-- Box 43_10 -->
		<div id="box43_10" class="t sg_3"><input type="text" id="box_43_10" class="redFont greyBckg" name="box_43_10" value="{{this.1.serv10}}"></div>
		<!-- Box 44_10 -->
		<div id="box44_10" class="t sg_3"><input type="text" id="box_44_10" class="width130 redFont greyBckg" name="box_44_10" value="{{this.2.rate10}}"></div>
		<!-- box 45_10 -->
		<div id="box45_10" class="t sb_3"><input type="text" id="box_45_10" class="width60 greyBckg" name="box_45_10" value="{{this.3.date10}}"></div>
		<!-- box 46_10 -->
		<div id="box46_10" class="t 
		sg_3"><input type="text" id="box_46_10" class="width70 redFont greyBckg" name="box_46_10" value="{{this.4.unit10}}"></div>
		<!-- Box 47_10 -->
		<div id="box47_10" class="t sg_3"><input type="text" id="box_47_10" class="width85 redFont greyBckg" name="box_47_10" value="{{this.5.charge10}}"></div>
		<!-- Box 48_10 -->
		<div id="box48_10" class="t sh_3"><input type="text" id="box_48_10" class="width85 redFont greyBckg" name="box_48_10" value="{{this.6.nonCov10}}"></div>
		<!-- Box 49_10 -->
		<div id="box49_10" class="t sh_3"><input type="text" id="box_49_10" class="width18 greyBckg" name="box_49_10" value="{{this.7.nubc10}}"></div>

		<!-- Box 42_11-->
		<div id="box42_11" class="t sg_3"><input type="text" id="box_42_11" class="width35 redFont" name="box_42_11" value="{{this.0.code11}}"></div>
		<!-- Box 43_11 -->
		<div id="box43_11" class="t sg_3"><input type="text" id="box_43_11" class="redFont" name="box_43_11" value="{{this.1.serv11}}"></div>
		<!-- Box 44_11 -->
		<div id="box44_11" class="t sg_3"><input type="text" id="box_44_11" class="width130 redFont" name="box_44_11" value="{{this.2.rate11}}"></div>
		<!-- box 45_11 -->
		<div id="box45_11" class="t sb_3"><input type="text" id="box_45_11" class="width60" name="box_45_11" value="{{this.3.date11}}"></div>
		<!-- box 46_11 -->
		<div id="box46_11" class="t 
		sg_3"><input type="text" id="box_46_11" class="width70 redFont" name="box_46_11" value="{{this.4.unit11}}"></div>
		<!-- Box 47_11 -->
		<div id="box47_11" class="t sg_3"><input type="text" id="box_47_11" class="width85 redFont" name="box_47_11" value="{{this.5.charge11}}"></div>
		<!-- Box 48_11 -->
		<div id="box48_11" class="t sh_3"><input type="text" id="box_48_11" class="width85 redFont" name="box_48_11" value="{{this.6.nonCov11}}"></div>
		<!-- Box 49_11 -->
		<div id="box49_11" class="t sh_3"><input type="text" id="box_49_11" class="width18" name="box_49_11" value="{{this.7.nubc11}}"></div>

		<!-- Box 42_12-->
		<div id="box42_12" class="t sg_3"><input type="text" id="box_42_12" class="width35 redFont greyBckg" name="box_42_12" value="{{this.0.code12}}"></div>
		<!-- Box 43_12 -->
		<div id="box43_12" class="t sg_3"><input type="text" id="box_43_12" class="redFont greyBckg" name="box_43_12" value="{{this.1.serv12}}"></div>
		<!-- Box 44_12 -->
		<div id="box44_12" class="t sg_3"><input type="text" id="box_44_12" class="width130 redFont greyBckg" name="box_44_12" value="{{this.2.rate12}}"></div>
		<!-- box 45_12 -->
		<div id="box45_12" class="t sb_3"><input type="text" id="box_45_12" class="width60 greyBckg" name="box_45_12" value="{{this.3.date12}}"></div>
		<!-- box 46_12 -->
		<div id="box46_12" class="t 
		sg_3"><input type="text" id="box_46_12" class="width70 redFont greyBckg" name="box_46_12" value="{{this.4.unit12}}"></div>
		<!-- Box 47_12 -->
		<div id="box47_12" class="t sg_3"><input type="text" id="box_47_12" class="width85 redFont greyBckg" name="box_47_12" value="{{this.5.charge12}}"></div>
		<!-- Box 48_12 -->
		<div id="box48_12" class="t sh_3"><input type="text" id="box_48_12" class="width85 redFont greyBckg" name="box_48_12" value="{{this.6.nonCov12}}"></div>
		<!-- Box 49_12 -->
		<div id="box49_12" class="t sh_3"><input type="text" id="box_49_12" class="width18 greyBckg" name="box_49_12" value="{{this.7.nubc12}}"></div>

		<!-- Box 42_13-->
		<div id="box42_13" class="t sg_3"><input type="text" id="box_42_13" class="width35 redFont" name="box_42_13" value="{{this.0.code13}}"></div>
		<!-- Box 43_13 -->
		<div id="box43_13" class="t sg_3"><input type="text" id="box_43_13" class="redFont" name="box_43_13" value="{{this.1.serv13}}"></div>
		<!-- Box 44_13 -->
		<div id="box44_13" class="t sg_3"><input type="text" id="box_44_13" class="width130 redFont" name="box_44_13" value="{{this.2.rate13}}"></div>
		<!-- box 45_13 -->
		<div id="box45_13" class="t sb_3"><input type="text" id="box_45_13" class="width60" name="box_45_13" value="{{this.3.date13}}"></div>
		<!-- box 46_13 -->
		<div id="box46_13" class="t 
		sg_3"><input type="text" id="box_46_13" class="width70 redFont" name="box_46_13" value="{{this.4.unit13}}"></div>
		<!-- Box 47_13 -->
		<div id="box47_13" class="t sg_3"><input type="text" id="box_47_13" class="width85 redFont" name="box_47_13" value="{{this.5.charge13}}"></div>
		<!-- Box 48_13 -->
		<div id="box48_13" class="t sh_3"><input type="text" id="box_48_13" class="width85 redFont" name="box_48_13" value="{{this.6.nonCov13}}"></div>
		<!-- Box 49_13 -->
		<div id="box49_13" class="t sh_3"><input type="text" id="box_49_13" class="width18" name="box_49_13" value="{{this.7.nubc13}}"></div>

		<!-- Box 42_14-->
		<div id="box42_14" class="t sg_3"><input type="text" id="box_42_14" class="width35 redFont greyBckg" name="box_42_14" value="{{this.0.code14}}"></div>
		<!-- Box 43_14 -->
		<div id="box43_14" class="t sg_3"><input type="text" id="box_43_14" class="redFont greyBckg" name="box_43_14" value="{{this.1.serv14}}"></div>
		<!-- Box 44_14 -->
		<div id="box44_14" class="t sg_3"><input type="text" id="box_44_14" class="width130 redFont greyBckg" name="box_44_14" value="{{this.2.rate14}}"></div>
		<!-- box 45_14 -->
		<div id="box45_14" class="t sb_3"><input type="text" id="box_45_14" class="width60 greyBckg" name="box_45_14" value="{{this.3.date14}}"></div>
		<!-- box 46_14 -->
		<div id="box46_14" class="t 
		sg_3"><input type="text" id="box_46_14" class="width70 redFont greyBckg" name="box_46_14" value="{{this.4.unit14}}"></div>
		<!-- Box 47_14 -->
		<div id="box47_14" class="t sg_3"><input type="text" id="box_47_14" class="width85 redFont greyBckg" name="box_47_14" value="{{this.5.charge14}}"></div>
		<!-- Box 48_14 -->
		<div id="box48_14" class="t sh_3"><input type="text" id="box_48_14" class="width85 redFont greyBckg" name="box_48_14" value="{{this.6.nonCov14}}"></div>
		<!-- Box 49_14 -->
		<div id="box49_14" class="t sh_3"><input type="text" id="box_49_14" class="width18 greyBckg" name="box_49_14" value="{{this.7.nubc14}}"></div>

		<!-- Box 42_15-->
		<div id="box42_15" class="t sg_3"><input type="text" id="box_42_15" class="width35 redFont" name="box_42_15" value="{{this.0.code15}}"></div>
		<!-- Box 43_15 -->
		<div id="box43_15" class="t sg_3"><input type="text" id="box_43_15" class="redFont" name="box_43_15" value="{{this.1.serv15}}"></div>
		<!-- Box 44_15 -->
		<div id="box44_15" class="t sg_3"><input type="text" id="box_44_15" class="width130 redFont" name="box_44_15" value="{{this.2.rate15}}"></div>
		<!-- box 45_15 -->
		<div id="box45_15" class="t sb_3"><input type="text" id="box_45_15" class="width60" name="box_45_15" value="{{this.3.date15}}"></div>
		<!-- box 46_15 -->
		<div id="box46_15" class="t 
		sg_3"><input type="text" id="box_46_15" class="width70 redFont" name="box_46_15" value="{{this.4.unit15}}"></div>
		<!-- Box 47_15 -->
		<div id="box47_15" class="t sg_3"><input type="text" id="box_47_15" class="width85 redFont" name="box_47_15" value="{{this.5.charge15}}"></div>
		<!-- Box 48_15 -->
		<div id="box48_15" class="t sh_3"><input type="text" id="box_48_15" class="width85 redFont" name="box_48_15" value="{{this.6.nonCov15}}"></div>
		<!-- Box 49_15 -->
		<div id="box49_15" class="t sh_3"><input type="text" id="box_49_15" class="width18" name="box_49_15" value="{{this.7.nubc15}}"></div>

		<!-- Box 42_16-->
		<div id="box42_16" class="t sg_3"><input type="text" id="box_42_16" class="width35 redFont greyBckg" name="box_42_16" value="{{this.0.code16}}"></div>
		<!-- Box 43_16 -->
		<div id="box43_16" class="t sg_3"><input type="text" id="box_43_16" class="redFont greyBckg" name="box_43_16" value="{{this.1.serv16}}"></div>
		<!-- Box 44_16 -->
		<div id="box44_16" class="t sg_3"><input type="text" id="box_44_16" class="width130 redFont greyBckg" name="box_44_16" value="{{this.2.rate16}}"></div>
		<!-- box 45_16 -->
		<div id="box45_16" class="t sb_3"><input type="text" id="box_45_16" class="width60 greyBckg" name="box_45_16" value="{{this.3.date16}}"></div>
		<!-- box 46_16 -->
		<div id="box46_16" class="t 
		sg_3"><input type="text" id="box_46_16" class="width70 redFont greyBckg" name="box_46_16" value="{{this.4.unit16}}"></div>
		<!-- Box 47_16 -->
		<div id="box47_16" class="t sg_3"><input type="text" id="box_47_16" class="width85 redFont greyBckg" name="box_47_16" value="{{this.5.charge16}}"></div>
		<!-- Box 48_16 -->
		<div id="box48_16" class="t sh_3"><input type="text" id="box_48_16" class="width85 redFont greyBckg" name="box_48_16" value="{{this.6.nonCov16}}"></div>
		<!-- Box 49_16 -->
		<div id="box49_16" class="t sh_3"><input type="text" id="box_49_16" class="width18 greyBckg" name="box_49_16" value="{{this.7.nubc16}}"></div>

		<!-- Box 42_17-->
		<div id="box42_17" class="t sg_3"><input type="text" id="box_42_17" class="width35 redFont" name="box_42_17" value="{{this.0.code17}}"></div>
		<!-- Box 43_17 -->
		<div id="box43_17" class="t sg_3"><input type="text" id="box_43_17" class="redFont" name="box_43_17" value="{{this.1.serv17}}"></div>
		<!-- Box 44_17 -->
		<div id="box44_17" class="t sg_3"><input type="text" id="box_44_17" class="width130 redFont" name="box_44_17" value="{{this.2.rate17}}"></div>
		<!-- box 45_17 -->
		<div id="box45_17" class="t sb_3"><input type="text" id="box_45_17" class="width60" name="box_45_17" value="{{this.3.date17}}"></div>
		<!-- box 46_17 -->
		<div id="box46_17" class="t 
		sg_3"><input type="text" id="box_46_17" class="width70 redFont" name="box_46_17" value="{{this.4.unit17}}"></div>
		<!-- Box 47_17 -->
		<div id="box47_17" class="t sg_3"><input type="text" id="box_47_17" class="width85 redFont" name="box_47_17" value="{{this.5.charge17}}"></div>
		<!-- Box 48_17 -->
		<div id="box48_17" class="t sh_3"><input type="text" id="box_48_17" class="width85 redFont" name="box_48_17" value="{{this.6.nonCov17}}"></div>
		<!-- Box 49_17 -->
		<div id="box49_17" class="t sh_3"><input type="text" id="box_49_17" class="width18" name="box_49_17" value="{{this.7.nubc17}}"></div>

		<!-- Box 42_18-->
		<div id="box42_18" class="t sg_3"><input type="text" id="box_42_18" class="width35 redFont greyBckg" name="box_42_18" value="{{this.0.code18}}"></div>
		<!-- Box 43_18 -->
		<div id="box43_18" class="t sg_3"><input type="text" id="box_43_18" class="redFont greyBckg" name="box_43_18" value="{{this.1.serv18}}"></div>
		<!-- Box 44_18 -->
		<div id="box44_18" class="t sg_3"><input type="text" id="box_44_18" class="width130 redFont greyBckg" name="box_44_18" value="{{this.2.rate18}}"></div>
		<!-- box 45_18 -->
		<div id="box45_18" class="t sb_3"><input type="text" id="box_45_18" class="width60 greyBckg" name="box_45_18" value="{{this.3.date18}}"></div>
		<!-- box 46_18 -->
		<div id="box46_18" class="t 
		sg_3"><input type="text" id="box_46_18" class="width70 redFont greyBckg" name="box_46_18" value="{{this.4.unit18}}"></div>
		<!-- Box 47_18 -->
		<div id="box47_18" class="t sg_3"><input type="text" id="box_47_18" class="width85 redFont greyBckg" name="box_47_18" value="{{this.5.charge18}}"></div>
		<!-- Box 48_18 -->
		<div id="box48_18" class="t sh_3"><input type="text" id="box_48_18" class="width85 redFont greyBckg" name="box_48_18" value="{{this.6.nonCov18}}"></div>
		<!-- Box 49_18 -->
		<div id="box49_18" class="t sh_3"><input type="text" id="box_49_18" class="width18 greyBckg" name="box_49_18" value="{{this.7.nubc18}}"></div>

		<!-- Box 42_19-->
		<div id="box42_19" class="t sg_3"><input type="text" id="box_42_19" class="width35 redFont" name="box_42_19" value="{{this.0.code19}}"></div>
		<!-- Box 43_19 -->
		<div id="box43_19" class="t sg_3"><input type="text" id="box_43_19" class="redFont" name="box_43_19" value="{{this.1.serv19}}"></div>
		<!-- Box 44_19 -->
		<div id="box44_19" class="t sg_3"><input type="text" id="box_44_19" class="width130 redFont" name="box_44_19" value="{{this.2.rate19}}"></div>
		<!-- box 45_19 -->
		<div id="box45_19" class="t sb_3"><input type="text" id="box_45_19" class="width60" name="box_45_19" value="{{this.3.date19}}"></div>
		<!-- box 46_19 -->
		<div id="box46_19" class="t 
		sg_3"><input type="text" id="box_46_19" class="width70 redFont" name="box_46_19" value="{{this.4.unit19}}"></div>
		<!-- Box 47_19 -->
		<div id="box47_19" class="t sg_3"><input type="text" id="box_47_19" class="width85 redFont" name="box_47_19" value="{{this.5.charge19}}"></div>
		<!-- Box 48_19 -->
		<div id="box48_19" class="t sh_3"><input type="text" id="box_48_19" class="width85 redFont" name="box_48_19" value="{{this.6.nonCov19}}"></div>
		<!-- Box 49_19 -->
		<div id="box49_19" class="t sh_3"><input type="text" id="box_49_19" class="width18" name="box_49_19" value="{{this.7.nubc19}}"></div>

		<!-- Box 42_20-->
		<div id="box42_20" class="t sg_3"><input type="text" id="box_42_20" class="width35 redFont greyBckg" name="box_42_20" value="{{this.0.code20}}"></div>
		<!-- Box 43_20 -->
		<div id="box43_20" class="t sg_3"><input type="text" id="box_43_20" class="redFont greyBckg" name="box_43_20" value="{{this.1.serv20}}"></div>
		<!-- Box 44_20 -->
		<div id="box44_20" class="t sg_3"><input type="text" id="box_44_20" class="width130 redFont greyBckg" name="box_44_20" value="{{this.2.rate20}}"></div>
		<!-- box 45_20 -->
		<div id="box45_20" class="t sb_3"><input type="text" id="box_45_20" class="width60 greyBckg" name="box_45_20" value="{{this.3.date20}}"></div>
		<!-- box 46_20 -->
		<div id="box46_20" class="t 
		sg_3"><input type="text" id="box_46_20" class="width70 redFont greyBckg" name="box_46_20" value="{{this.4.unit20}}"></div>
		<!-- Box 47_20 -->
		<div id="box47_20" class="t sg_3"><input type="text" id="box_47_20" class="width85 redFont greyBckg" name="box_47_20" value="{{this.5.charge20}}"></div>
		<!-- Box 48_20 -->
		<div id="box48_20" class="t sh_3"><input type="text" id="box_48_20" class="width85 redFont greyBckg" name="box_48_20" value="{{this.6.nonCov20}}"></div>
		<!-- Box 49_20 -->
		<div id="box49_20" class="t sh_3"><input type="text" id="box_49_20" class="width18 greyBckg" name="box_49_20" value="{{this.7.nubc20}}"></div>

		<!-- Box 42_21-->
		<div id="box42_21" class="t sg_3"><input type="text" id="box_42_21" class="width35 redFont" name="box_42_21" value="{{this.0.code21}}"></div>
		<!-- Box 43_21 -->
		<div id="box43_21" class="t sg_3"><input type="text" id="box_43_21" class="redFont" name="box_43_21" value="{{this.1.serv21}}"></div>
		<!-- Box 44_21 -->
		<div id="box44_21" class="t sg_3"><input type="text" id="box_44_21" class="width130 redFont" name="box_44_21" value="{{this.2.rate21}}"></div>
		<!-- box 45_21 -->
		<div id="box45_21" class="t sb_3"><input type="text" id="box_45_21" class="width60" name="box_45_21" value="{{this.3.date21}}"></div>
		<!-- box 46_21 -->
		<div id="box46_21" class="t 
		sg_3"><input type="text" id="box_46_21" class="width70 redFont" name="box_46_21" value="{{this.4.unit21}}"></div>
		<!-- Box 47_21 -->
		<div id="box47_21" class="t sg_3"><input type="text" id="box_47_21" class="width85 redFont" name="box_47_21" value="{{this.5.charge21}}"></div>
		<!-- Box 48_21 -->
		<div id="box48_21" class="t sh_3"><input type="text" id="box_48_21" class="width85 redFont" name="box_48_21" value="{{this.6.nonCov21}}"></div>
		<!-- Box 49_21 -->
		<div id="box49_21" class="t sh_3"><input type="text" id="box_49_21" class="width18" name="box_49_21" value="{{this.7.nubc21}}"></div>

		<!-- Box 42_22-->
		<div id="box42_22" class="t sg_3"><input type="text" id="box_42_22" class="width35 redFont greyBckg" name="box_42_22" value="{{this.0.code22}}"></div>
		<!-- Box 43_22 -->
		<div id="box43_22" class="t sg_3"><input type="text" id="box_43_22" class="redFont greyBckg" name="box_43_22" value="{{this.1.serv22}}"></div>
		<!-- Box 44_22 -->
		<div id="box44_22" class="t sg_3"><input type="text" id="box_44_22" class="width130 redFont greyBckg" name="box_44_22" value="{{this.2.rate22}}"></div>
		<!-- box 45_22 -->
		<div id="box45_22" class="t sb_3"><input type="text" id="box_45_22" class="width60 greyBckg" name="box_45_22" value="{{this.3.date22}}"></div>
		<!-- box 46_22 -->
		<div id="box46_22" class="t 
		sg_3"><input type="text" id="box_46_22" class="width70 redFont greyBckg" name="box_46_22" value="{{this.4.unit22}}"></div>
		<!-- Box 47_22 -->
		<div id="box47_22" class="t sg_3"><input type="text" id="box_47_22" class="width85 redFont greyBckg" name="box_47_22" value="{{this.5.charge22}}"></div>
		<!-- Box 48_22 -->
		<div id="box48_22" class="t sh_3"><input type="text" id="box_48_22" class="width85 redFont greyBckg" name="box_48_22" value="{{this.6.nonCov22}}"></div>
		<!-- Box 49_22 -->
		<div id="box49_22" class="t sh_3"><input type="text" id="box_49_22" class="width18 greyBckg" name="box_49_22" value="{{this.7.nubc22}}"></div>

		<!-- page x of X-->
		<div id="t81_3" class="t sc_3">PAGE </div>

		<div id="tbo_3" class="t sg_3"><input type="text" id="pageX" class="width25 page" name="pageX" value="{{this.9.page}}"></div>

		<!-- box Totals-->
		<div id="t3h_3" class="t s9_3">TOTALS </div>

		<div id="tb7_3" class="t sg_3"><input type="text" id="totals" class="width70 redFont" name="totals" placeholder="total" value="{{this.8.dbo_UB04.dataValues.FL47_23}}"></div>

		<!-- box 48_23 -->
		<div id="tb6_3" class="t sh_3"><input type="text" id="box_48_23" class="width70" name="box_48_23" placeholder="total non-covered"value="{{this.8.dbo_UB04.dataValues.FL48_23}}"></div>
		
		<!-- box Payer name -->
		<div id="t88_3" class="t s4_3">50 PAYER NAME</div>
		<!-- box 50 A -->
		<div id="tbq_3" class="t sg_3"><input type="text" id="box_50_A" class="redFont" name="box_50_A" value="{{this.8.dbo_UB04.dataValues.FL50_a}}"></div>
		<!-- box 50 B -->
		<div id="tbr_3" class="t sh_3"><input type="text" id="box_50_B" class="greyBckg" name="box_50_B" value="{{this.8.dbo_UB04.dataValues.FL50_b}}"></div>
		<!-- box 50 C -->
		<div id="tbs_3" class="t sh_3"><input type="text" id="box_50_C" name="box_50_C" value="{{this.8.dbo_UB04.dataValues.FL50_c}}"></div>
		
		<!-- box health plan -->
		<div id="box51" class="t s4_3">51 HEALTH PLAN ID</div>
		<!-- box 51 A -->
		<div id="tbj_3" class="t sh_3"><input type="text" id="box_51_A" class="width130" name="box_51_A" value="{{this.8.dbo_UB04.dataValues.FL51_a}}"></div>
		<!-- box 51 B -->
		<div id="tbk_3" class="t sh_3"><input type="text" id="box_51_B" class="width130 greyBckg" name="box_51_B" value="{{this.8.dbo_UB04.dataValues.FL51_b}}"></div>
		<!-- box 51 C -->
		<div id="tbl_3" class="t sh_3"><input type="text" id="box_51_C" class="width130" name="box_51_C" value="{{this.8.dbo_UB04.dataValues.FL51_c}}"></div>
		
		<!-- box 52 REL INFO -->
		<div id="box52rel" class="t sa_3">52 REL</div>
		<div id="box52info" class="t sa_3">INFO</div>
		<!-- box 52 A -->
		<div id="tbm_3" class="t sg_3"><input type="text" id="box_52_A" class="width13 redFont" name="box_52_A" value="{{this.8.dbo_UB04.dataValues.FL52_a}}"></div>
		<!-- box 52 B -->
		<div id="box52b" class="t sg_3"><input type="text" id="box_52_B" class="width13 greyBckg" name="box_52_B" value="{{this.8.dbo_UB04.dataValues.FL52_b}}"></div>
		<!-- box 52 C -->
		<div id="box52c" class="t sg_3"><input type="text" id="box_52_C" class="width13" name="box_52_C" value="{{this.8.dbo_UB04.dataValues.FL52_c}}"></div>
		
		<!-- box 53 ASG BEN -->
		<div id="t6i_3" class="t sa_3">53 ASG.</div>
		<div id="t5d_3" class="t sa_3">BEN.</div>
		<!-- box 53 A -->
		<div id="tbn_3" class="t sg_3"><input type="text" id="box_53_A" class="width13 redFont" name="box_53_A" value="{{this.8.dbo_UB04.dataValues.FL53_a}}"></div>
		<!-- box 53 B -->
		<div id="box53b" class="t sg_3"><input type="text" id="box_53_B" class="width13 greyBckg" name="box_53_B" value="{{this.8.dbo_UB04.dataValues.FL53_b}}"></div>
		<!-- box 53 C -->
		<div id="box53c" class="t sg_3"><input type="text" id="box_53_C" class="width13" name="box_53_C" value="{{this.8.dbo_UB04.dataValues.FL53_c}}"></div>
		
		<!-- box 54 Prior Payments -->
		<div id="t6j_3" class="t s4_3">54 PRIOR PAYMENTS</div>
		<!-- box 54 A -->
		<div id="tbf_3" class="t sh_3"><input type="text" id="box_54_A" class="width89" name="box_54_A" value="{{this.8.dbo_UB04.dataValues.FL54_a}}"></div>
		<!-- box 54 B -->
		<div id="tbg_3" class="t sh_3"><input type="text" id="box_54_B" class="width89 greyBckg" name="box_54_B" value="{{this.8.dbo_UB04.dataValues.FL54_b}}"></div>
		<!-- box 54 C -->
		<div id="tbi_3" class="t sh_3"><input type="text" id="box_54_C" class="width89" name="box_54_C" value="{{this.8.dbo_UB04.dataValues.FL54_c}}"></div>

		<!-- box 55 Est amount due -->
		<div id="box55" class="t s4_3">55 EST. AMOUNT DUE</div>
		<!-- box 55 A -->
		<div id="tbc_3" class="t sg_3"><input type="text" id="box_55_A" class="width89 redFont" name="box_55_A" value="{{this.8.dbo_UB04.dataValues.FL55_a}}"></div>
		<!-- box 55 B -->
		<div id="tbd_3" class="t sg_3"><input type="text" id="box_55_B" class="width89 redFont greyBckg" name="box_55_B" value="{{this.8.dbo_UB04.dataValues.FL55_b}}"></div>
		<!-- box 55 C -->
		<div id="tbe_3" class="t sg_3"><input type="text" id="box_55_C" class="width89 redFont" name="box_55_C" value="{{this.8.dbo_UB04.dataValues.FL55_c}}"></div>
		
		<!-- box 56 NPI -->
		<div id="t6m_3" class="t s4_3">56 NPI</div>
		<!-- box 56 data -->
		<div id="tb8_3" class="t sg_3"><input type="text" id="box_56_data" class="width100 redFont" name="box_56_data" value="{{this.8.dbo_UB04.dataValues.FL56}}"></div>
		
		<!-- box57 other prv id -->
		<div id="t6n_3" class="t s4_3">57</div>
		<div id="t56_3" class="t s4_3">OTHER</div>
		<div id="t57_3" class="t s4_3">PRV ID</div>
		<!-- box 57 A -->
		<div id="tb9_3" class="t sh_3"><input type="text" id="box_57_A" class="width130" name="box_57_A" value="{{this.8.dbo_UB04.dataValues.FL57_a}}"></div>
		<!-- box 57 B -->
		<div id="tba_3" class="t sh_3"><input type="text" id="box_57_B" class="width130 greyBckg" name="box_57_B" value="{{this.8.dbo_UB04.dataValues.FL57_b}}"></div>
		<!-- box 57 C -->
		<div id="tbb_3" class="t sh_3"><input type="text" id="box_57_C" class="width130" name="box_57_C" value="{{this.8.dbo_UB04.dataValues.FL57_c}}"></div>

		<!-- box 58 insured's name -->
		<div id="t6o_3" class="t s4_3">58 INSUREDS</div>
		<div id="t6p_3" class="t s4_3">NAME</div>

		<div id="tbx_3" class="t sg_3"><input type="text" id="box_58_insuredName" class="redFont" name="box_58_insuredName" value="{{this.8.dbo_UB04.dataValues.FL58_a}}"></div>
		<!-- box 58 B -->
		<div id="tby_3" class="t sh_3"><input type="text" id="box_58_B" class="greyBckg" name="box_58_B" value="{{this.8.dbo_UB04.dataValues.FL58_b}}"></div>
		<!-- box 58 C -->
		<div id="tbz_3" class="t sh_3"><input type="text" id="box_58_C" name="box_58_C" value="{{this.8.dbo_UB04.dataValues.FL58_c}}"></div>
		
		<!-- box 59 P. Rel -->
		<div id="t6q_3" class="t s4_3">59 P. REL</div>
		<!-- box 59 A -->
		<div id="tc0_3" class="t sg_3"><input type="text" id="box_59_A" class="width22" name="box_59_A" value="{{this.8.dbo_UB04.dataValues.FL59_a}}"></div>
		<!-- box 59 B -->
		<div id="box59b" class="t sg_3"><input type="text" id="box_59_B" class="width22 greyBckg" name="box_59_B" value="{{this.8.dbo_UB04.dataValues.FL59_b}}"></div>
		<!-- box 59 C -->
		<div id="box59c" class="t sg_3"><input type="text" id="box_59_C" class="width22" name="box_59_C" value="{{this.8.dbo_UB04.dataValues.FL59_c}}"></div>
		
		<!-- box 60 insureds Unique id -->
		<div id="box60UID" class="t s4_3">60 INSUREDS UNIQUE ID</div>
		<!-- box 60 A -->
		<div id="tc1_3" class="t sg_3"><input type="text" id="box_60_A" class="width170 redFont" name="box_60_A" value="{{this.8.dbo_UB04.dataValues.FL60_a}}"></div>
		<!-- box 60 B -->
		<div id="box60b" class="t sg_3"><input type="text" id="box_60_B" class="width170 greyBckg" name="box_60_B" value="{{this.8.dbo_UB04.dataValues.FL60_b}}"></div>
		<!-- box 60 C -->
		<div id="box60c" class="t sg_3"><input type="text" id="box_60_C" class="width170" name="box_60_C" value="{{this.8.dbo_UB04.dataValues.FL60_c}}"></div>
		
		<!-- box 61 group name -->
		<div id="box61GN" class="t s4_3">61 GROUP NAME</div>
		<!-- box 61 A -->
		<div id="tc2_3" class="t sh_3"><input type="text" id="box_61_A" class="width130" name="box_61_A" value="{{this.8.dbo_UB04.dataValues.FL61_a}}"></div>
		<!-- box 61 B -->
		<div id="box61b" class="t sh_3"><input type="text" id="box_61_B" class="width130 greyBckg" name="box_61_B" value="{{this.8.dbo_UB04.dataValues.FL61_b}}"></div>
		<!-- box 61 C -->
		<div id="box61c" class="t sh_3"><input type="text" id="box_61_C" class="width130" name="box_61_C" value="{{this.8.dbo_UB04.dataValues.FL61_c}}"></div>
		
		<!-- box 62 Ins. Group -->
		<div id="box62IG" class="t s4_3">62 INSURANCE GROUP NO</div>
		<!-- box 62 A -->
		<div id="tc3_3" class="t sh_3"><input type="text" id="box_62_A" class="width150" name="box_62_A" value="{{this.8.dbo_UB04.dataValues.FL62_a}}"></div>
		<!-- box 62 B -->
		<div id="box62b" class="t sh_3"><input type="text" id="box_62_B" class="width150 greyBckg" name="box_62_B" value="{{this.8.dbo_UB04.dataValues.FL62_b}}"></div>
		<!-- box 62 C -->
		<div id="box62c" class="t sh_3"><input type="text" id="box_62_C" class="width150" name="box_62_C" value="{{this.8.dbo_UB04.dataValues.FL62_c}}"></div>
		
		<!-- box 63 Treatment -->
		<div id="box63TAC" class="t s4_3">63 TREATMENT AUTHORIZATION CODES</div>
		<!-- box 63 A -->
		<div id="tc6_3" class="t sh_3"><input type="text" id="box_63_A" name="box_63_A" value="{{this.8.dbo_UB04.dataValues.FL63_a}}"></div>
		<!-- box 63 B -->
		<div id="tc7_3" class="t sh_3"><input type="text" id="box_63_B" class="greyBckg" name="box_63_B" value="{{this.8.dbo_UB04.dataValues.FL63_b}}"></div>
		<!-- box 63 C -->
		<div id="tc8_3" class="t sh_3"><input type="text" id="box_63_C" name="box_63_C" value="{{this.8.dbo_UB04.dataValues.FL63_c}}"></div>
		 
		<!-- box 64 Doc Control Num -->
		<div id="box64DCN" class="t s4_3">64 DOCUMENT CONTROL NUMBER</div>
		<!-- box 64 A -->
		<div id="tc5_3" class="t sh_3"><input type="text" id="box_64_A" name="box_64_A" value="{{this.8.dbo_UB04.dataValues.FL64_a}}"></div>
		<!-- box 64 B -->
		<div id="box64b" class="t sh_3"><input type="text" id="box_64_B" class="greyBckg" name="box_64_B" value="{{this.8.dbo_UB04.dataValues.FL64_b}}"></div>
		<!-- box 64 C -->
		<div id="box64c" class="t sh_3"><input type="text" id="box_64_C" name="box_64_C" value="{{this.8.dbo_UB04.dataValues.FL64_c}}"></div>
		
		<!-- box 65 Employer name -->
		<div id="box65EN" class="t s4_3">65 EMPLOYER NAME</div>
		<!-- box 65 A -->
		<div id="tc4_3" class="t sh_3"><input type="text" id="box_65_A" name="box_65_A" value="{{this.8.dbo_UB04.dataValues.FL65_a}}"></div>
		<!-- box 65 B -->
		<div id="box65b" class="t sh_3"><input type="text" id="box_65_B" class="greyBckg" name="box_65_B" value="{{this.8.dbo_UB04.dataValues.FL65_b}}"></div>
		<!-- box 65 C -->
		<div id="box65c" class="t sh_3"><input type="text" id="box_65_C" name="box_65_C" value="{{this.8.dbo_UB04.dataValues.FL65_c}}"></div>
		
		<!-- box 66 DX -->
		<div id="t73_3" class="t s4_3">66</div>
		<div id="tg_3" class="t s4_3">DX</div>
		<!-- box 66 under -->
		<div id="tcb_3" class="t sg_3"><input type="text" id="box_66_under" class="width6" name="box_66_under" value="{{this.8.dbo_UB04.dataValues.FL66}}"></div>
		
		<!-- box 67 Num & A-Q -->
		<!-- box 67 -->
		<div id="tc9_3" class="t sh_3"><input type="text" id="box_67" class="width60" name="box_67" value="{{this.8.dbo_UB04.dataValues.FL67}}"></div>
		<!-- box 67 a -->
		<div id="t1v_3" class="t s8_3"><input type="text" id="box_67_a" class="width60" name="box_67_a" value="{{this.8.dbo_UB04.dataValues.FL67_a}}"></div>
		<!-- box 67 b -->
		<div id="t1w_3" class="t s8_3"><input type="text" id="box_67_b" class="width60" name="box_67_b" value="{{this.8.dbo_UB04.dataValues.FL67_b}}"></div>
		<!-- box 67 c -->
		<div id="t1x_3" class="t s8_3"><input type="text" id="box_67_c" class="width60" name="box_67_c" value="{{this.8.dbo_UB04.dataValues.FL67_c}}"></div>
		<!-- box 67 d -->
		<div id="t1y_3" class="t s8_3"><input type="text" id="box_67_d" class="width60" name="box_67_d" value="{{this.8.dbo_UB04.dataValues.FL67_d}}"></div>
		<!-- box 67 e -->
		<div id="t1z_3" class="t s8_3"><input type="text" id="box_67_e" class="width60" name="box_67_e" value="{{this.8.dbo_UB04.dataValues.FL67_e}}"></div>
		<!-- box 67 f -->
		<div id="t20_3" class="t s8_3"><input type="text" id="box_67_f" class="width60" name="box_67_f" value="{{this.8.dbo_UB04.dataValues.FL67_f}}"></div>
		<!-- box 67 g -->
		<div id="t21_3" class="t s8_3"><input type="text" id="box_67_g" class="width60" name="box_67_g" value="{{this.8.dbo_UB04.dataValues.FL67_g}}"></div>
		<!-- box 67 h -->
		<div id="t22_3" class="t s8_3"><input type="text" id="box_67_h" class="width60" name="box_67_h" value="{{this.8.dbo_UB04.dataValues.FL67_h}}"></div>
		<!-- box 67 i -->
		<div id="t23_3" class="t s8_3"><input type="text" id="box_67_i" class="width60" name="box_67_i" value="{{this.8.dbo_UB04.dataValues.FL67_i}}"></div>
		<!-- box 67 j -->
		<div id="t24_3" class="t s8_3"><input type="text" id="box_67_j" class="width60" name="box_67_j" value="{{this.8.dbo_UB04.dataValues.FL67_j}}"></div>
		<!-- box 67 k -->
		<div id="t25_3" class="t s8_3"><input type="text" id="box_67_k" class="width60" name="box_67_k" value="{{this.8.dbo_UB04.dataValues.FL67_k}}"></div>
		<!-- box 67 l -->
		<div id="t26_3" class="t s8_3"><input type="text" id="box_67_l" class="width60" name="box_67_l" value="{{this.8.dbo_UB04.dataValues.FL67_l}}"></div>
		<!-- box 67 m -->
		<div id="t27_3" class="t s8_3"><input type="text" id="box_67_m" class="width60" name="box_67_m" value="{{this.8.dbo_UB04.dataValues.FL67_m}}"></div>
		<!-- box 67 n -->
		<div id="t28_3" class="t s8_3"><input type="text" id="box_67_n" class="width60" name="box_67_n" value="{{this.8.dbo_UB04.dataValues.FL67_n}}"></div>
		<!-- box 67 o -->
		<div id="t29_3" class="t s8_3"><input type="text" id="box_67_o" class="width60" name="box_67_o" value="{{this.8.dbo_UB04.dataValues.FL67_o}}"></div>
		<!-- box 67 p -->
		<div id="t2a_3" class="t s8_3"><input type="text" id="box_67_p" class="width60" name="box_67_p" value="{{this.8.dbo_UB04.dataValues.FL67_p}}"></div>
		<!-- box 67 q -->
		<div id="t2b_3" class="t s8_3"><input type="text" id="box_67_q" class="width60" name="box_67_q" value="{{this.8.dbo_UB04.dataValues.FL67_q}}"></div>

		<!-- box 68 up -->
		<div id="tcd_3" class="t sh_3"><input type="text" id="box_68_up" class="width70" name="box_68_up" value="{{this.8.dbo_UB04.dataValues.FL68}}"></div>
		<!-- box 68 under -->
		<div id="box68under" class="t sh_3"><input type="text" id="box_68_under" class="width70" name="box_68_under" value="{{this.8.dbo_UB04.dataValues.FL68_a}}"></div>
		
		<!-- box69 admit dx -->
		<div id="t76_3" class="t s4_3">69</div>
		<div id="t77_3" class="t s4_3">ADMIT</div>
		<div id="t8l_3" class="t s4_3">DX</div>
		<!-- box 69 data -->
		<div id="tca_3" class="t sg_3"><input type="text" id="box_69_data" class="width60 redFont" name="box_69_data" value="{{this.8.dbo_UB04.dataValues.FL69}}"></div>
		
		<!-- box 70 patient reason dx -->
		<div id="t78_3" class="t s4_3">70 PATIENT</div>
		<div id="t8m_3" class="t s4_3">REASON DX</div>
		<!-- box 70 a -->
		<div id="t2c_3" class="t s8_3"><input type="text" id="box_70_a" class="width60" name="box_70_a" value="{{this.8.dbo_UB04.dataValues.FL70_a}}"></div>
		<!-- box 70 b -->
		<div id="t2d_3" class="t s8_3"><input type="text" id="box_70_b" class="width60" name="box_70_b" value="{{this.8.dbo_UB04.dataValues.FL70_b}}"></div>
		<!-- box 70 c -->
		<div id="t2e_3" class="t s8_3"><input type="text" id="box_70_c" class="width60" name="box_70_c" value="{{this.8.dbo_UB04.dataValues.FL70_c}}"></div>
		
		<!-- box 71 PPS Code -->
		<div id="t8n_3" class="t s4_3">71 PPS</div>
		<div id="t8o_3" class="t s4_3">CODE</div>
		<!-- box 71 data -->
		<div id="tcu_3" class="t sh_3"><input type="text" id="box_71_data" class="width30" name="box_71_data" value="{{this.8.dbo_UB04.dataValues.FL71}}"></div>

		<!-- box 72 ECI -->
		<div id="t79_3" class="t s4_3">72</div>
		<div id="th_3" class="t s4_3">ECI</div>
		<!-- box 72 a -->
		<div id="t2f_3" class="t s8_3"><input type="text" id="box_72_a" class="width60" name="box_72_a" value="{{this.8.dbo_UB04.dataValues.FL72_a}}"></div>
		<!-- box 72 b -->
		<div id="t2g_3" class="t s8_3"><input type="text" id="box_72_b" class="width60" name="box_72_b" value="{{this.8.dbo_UB04.dataValues.FL72_b}}"></div>
		<!-- box 72 c -->
		<div id="t2h_3" class="t s8_3"><input type="text" id="box_72_c" class="width60" name="box_72_c" value="{{this.8.dbo_UB04.dataValues.FL72_c}}"></div>

		<!-- box 73 -->
		<div id="t7a_3" class="t s4_3">73</div>

		<div id="tce_3" class="t sh_3"><input type="text" id="box_73" class="width79" name="box_73" value="{{this.8.dbo_UB04.dataValues.FL73}}"></div>
		
		<!-- box 74 Procedure codes and dates -->
		<div id="t7b_3" class="t s4_3">74</div>
		<div id="box74PP" class="t s4_3">PRINCIPAL PROCEDURE</div>
		<div id="t3r_3" class="t s4_3">CODE</div>
		<div id="t3s_3" class="t s4_3">DATE</div>
		<!-- box 74 code -->
		<div id="tco_3" class="t sg_3"><input type="text" id="box_74_code" class="width70 redFont" name="box_74_code" value="{{this.8.dbo_UB04.dataValues.FL74_1}}"></div>
		<!-- box 74 date -->
		<div id="tcp_3" class="t sg_3"><input type="text" id="box_74_date" class="width60 redFont" name="box_74_date" value="{{this.8.dbo_UB04.dataValues.FL74_2}}"></div>
		<!-- box74 a. -->
		<div id="t3k_3" class="t s5_3">a.</div>
		<div id="box74aOP" class="t s5_3">OTHER PROCEDURE</div>
		<div id="t3t_3" class="t s5_3">CODE</div>
		<div id="t3u_3" class="t s5_3">DATE</div>
		<!-- box 74 a code -->
		<div id="code74a" class="t sg_3"><input type="text" id="box_74a_code" class="width70" name="box_74a_code" value="{{this.8.dbo_UB04.dataValues.FL74_a1}}"></div>
		<!-- box 74 a date -->
		<div id="date74a" class="t sg_3"><input type="text" id="box_74a_date" class="width60" name="box_74a_date" value="{{this.8.dbo_UB04.dataValues.FL74_a2}}"></div>
		<!-- box 74 b. -->
		<div id="t3n_3" class="t s4_3">b.</div>
		<div id="box74bOP" class="t s4_3">OTHER PROCEDURE</div>
		<div id="t3v_3" class="t s4_3">CODE</div>
		<div id="t3w_3" class="t s4_3">DATE</div>
		<!-- box 74 b code -->
		<div id="code74b" class="t sg_3"><input type="text" id="box_74b_code" class="width70" name="box_74b_code" value="{{this.8.dbo_UB04.dataValues.FL74_b1}}"></div>
		<!-- box 74 b date -->
		<div id="date74b" class="t sg_3"><input type="text" id="box_74b_date" class="width60" name="box_74b_date" value="{{this.8.dbo_UB04.dataValues.FL74_b2}}"></div>
		<!-- box 74 c. -->
		<div id="t3y_3" class="t s5_3">c.</div>
		<div id="box74cOP" class="t s5_3">OTHER PROCEDURE</div>
		<div id="t44_3" class="t s5_3">CODE</div>
		<div id="t45_3" class="t s5_3">DATE</div>
		<!-- box 74 c code -->
		<div id="code74c" class="t sg_3"><input type="text" id="box_74c_code" class="width70" name="box_74c_code" value="{{this.8.dbo_UB04.dataValues.FL74_c1}}"></div>
		<!-- box 74 c date -->
		<div id="date74c" class="t sg_3"><input type="text" id="box_74c_date" class="width60" name="box_74c_date" value="{{this.8.dbo_UB04.dataValues.FL74_c2}}"></div>
		<!-- box 74 d. -->
		<div id="t3z_3" class="t s4_3">d.</div>
		<div id="box74dOP" class="t s4_3">OTHER PROCEDURE</div>
		<div id="t5e_3" class="t s4_3">CODE</div>
		<div id="t46_3" class="t s4_3">DATE</div>
		<!-- box 74 d code -->
		<div id="code74d" class="t sg_3"><input type="text" id="box_74d_code" class="width70" name="box_74d_code" value="{{this.8.dbo_UB04.dataValues.FL74_d1}}"></div>
		<!-- box 74 d date -->
		<div id="date74d" class="t sg_3"><input type="text" id="box_74d_date" class="width60" name="box_74d_date" value="{{this.8.dbo_UB04.dataValues.FL74_d2}}"></div>
		<!-- box 74 e. -->
		<div id="t40_3" class="t s5_3">e.</div>
		<div id="box74eOP" class="t s5_3">OTHER PROCEDURE</div>
		<div id="t90_3" class="t s5_3">CODE</div>
		<div id="t91_3" class="t s5_3">DATE</div>
		<!-- box 74 e code -->
		<div id="code74e" class="t sg_3"><input type="text" id="box_74e_code" class="width70" name="box_74e_code" value="{{this.8.dbo_UB04.dataValues.FL74_e1}}"></div>
		<!-- box 74 e date -->
		<div id="date74e" class="t sg_3"><input type="text" id="box_74e_date" class="width60" name="box_74e_date" value="{{this.8.dbo_UB04.dataValues.FL74_e2}}"></div>

		<!-- box 75 -->
		<div id="t7c_3" class="t s4_3">75</div>

		<div id="tcl_3" class="t sh_3"><input type="text" id="box_75" class="width40" name="box_75" value="{{this.8.dbo_UB04.dataValues.FL75}}"></div>

		<!-- box 76 -->
		<div id="t7d_3" class="t s4_3">76 ATTENDING</div>
		<!-- box 76 NPI -->
		<div id="t3q_3" class="t s4_3">NPI</div>
		<div id="tcj_3" class="t sg_3"><input type="text" id="box_76_npi" class="width89 redFont" name="box_76_npi" value="{{this.8.dbo_UB04.dataValues.FL76_a}}"></div>
		<!-- box 76 QUAL -->
		<div id="t8p_3" class="t s4_3">QUAL</div>
		<div id="tck_3" class="t sg_3"><input type="text" id="box_76_qual" class="width11_5 redFont" name="box_76_qual" value="{{this.8.dbo_UB04.dataValues.FL76_b}}"></div>
		<!-- box 76 num -->
		<div id="box76num" class="t sg_3"><input type="text" id="box_76_num" class="width70 redFont" name="box_76_num" value="{{this.8.dbo_UB04.dataValues.FL76_c}}"></div>
		<!-- box 76 Last -->
		<div id="t8r_3" class="t s4_3">LAST</div>
		<div id="tcm_3" class="t sg_3"><input type="text" id="box_76_last" class="width130 redFont" name="box_76_last" value="{{this.8.dbo_UB04.dataValues.FL76_d}}"></div>
		<!-- box 76 first -->
		<div id="t3x_3" class="t s4_3">FIRST</div>
		<div id="tcn_3" class="t sg_3"><input type="text" id="box_76_first" class="width100 redFont" name="box_76_first" value="{{this.8.dbo_UB04.dataValues.FL76_e}}"></div>
		
		<!-- box 77 operating -->
		<div id="t7i_3" class="t s4_3">77 OPERATING</div>
		<!-- box 77 NPI -->
		<div id="t43_3" class="t s4_3">NPI</div>
		<div id="box77npi" class="t sg_3"><input type="text" id="box_77_npi" class="width89 redFont" name="box_77_npi" value="{{this.8.dbo_UB04.dataValues.FL77_a}}"></div>
		<!-- box 77 QUAL -->
		<div id="t8w_3" class="t s4_3">QUAL</div>
		<div id="box77qual" class="t sg_3"><input type="text" id="box_77_qual" class="width11_5 redFont" name="box_77_qual" value="{{this.8.dbo_UB04.dataValues.FL77_b}}"></div>
		<!-- box 77 num -->
		<div id="box77num" class="t sg_3"><input type="text" id="box_77_num" class="width70 redFont" name="box_77_num" value="{{this.8.dbo_UB04.dataValues.FL77_c}}"></div>
		<!-- box 77 Last -->
		<div id="t8q_3" class="t s4_3">LAST</div>
		<div id="box77last" class="t sg_3"><input type="text" id="box_77_last" class="width130 redFont" name="box_77_last" value="{{this.8.dbo_UB04.dataValues.FL77_d}}"></div>
		<!-- box 77 first -->
		<div id="t47_3" class="t s4_3">FIRST</div>
		<div id="box77first" class="t sg_3"><input type="text" id="box_77_first" class="width100 redFont" name="box_77_first" value="{{this.8.dbo_UB04.dataValues.FL77_e}}"></div>
		
		<!-- box 78 other -->
		<div id="t7k_3" class="t s4_3">78 OTHER</div>
		<div id="box78other" class="t sg_3"><input type="text" id="box_78_other" class="width11_5 redFont" name="box_78_other" value="{{this.8.dbo_UB04.dataValues.FL78}}"></div>
		<!-- box 78 NPI -->
		<div id="t48_3" class="t s4_3">NPI</div>
		<div id="box78npi" class="t sg_3"><input type="text" id="box_78_npi" class="width89 redFont" name="box_78_npi" value="{{this.8.dbo_UB04.dataValues.FL78_a}}"></div>
		<!-- box 78 QUAL -->
		<div id="t8x_3" class="t s4_3">QUAL</div>
		<div id="box78qual" class="t sg_3"><input type="text" id="box_78_qual" class="width11_5 redFont" name="box_78_qual" value="{{this.8.dbo_UB04.dataValues.FL78_b}}"></div>
		<!-- box 78 num -->
		<div id="box78num" class="t sg_3"><input type="text" id="box_78_num" class="width70 redFont" name="box_78_num" value="{{this.8.dbo_UB04.dataValues.FL78_c}}"></div>
		<!-- box 78 Last -->
		<div id="t4a_3" class="t s4_3">LAST</div>
		<div id="box78last" class="t sg_3"><input type="text" id="box_78_last" class="width130 redFont" name="box_78_last" value="{{this.8.dbo_UB04.dataValues.FL78_d}}"></div>
		<!-- box 78 first -->
		<div id="t4b_3" class="t s4_3">FIRST</div>
		<div id="box78first" class="t sg_3"><input type="text" id="box_78_first" class="width100 redFont" name="box_78_first" value="{{this.8.dbo_UB04.dataValues.FL78_e}}"></div>

		<!-- box 79 other -->
		<div id="t7l_3" class="t s4_3">79 OTHER</div>
		<div id="box79other" class="t sg_3"><input type="text" id="box_79_other" class="width11_5 redFont" name="box_79_other" value="{{this.8.dbo_UB04.dataValues.FL79}}"></div>
		<!-- box 79 NPI -->
		<div id="t4d_3" class="t s4_3">NPI</div>
		<div id="box79npi" class="t sg_3"><input type="text" id="box_79_npi" class="width89 redFont" name="box_79_npi" value="{{this.8.dbo_UB04.dataValues.FL79_a}}"></div>
		<!-- box 79 QUAL -->
		<div id="t8y_3" class="t s4_3">QUAL</div>
		<div id="box79qual" class="t sg_3"><input type="text" id="box_79_qual" class="width11_5 redFont" name="box_79_qual" value="{{this.8.dbo_UB04.dataValues.FL79_b}}"></div>
		<!-- box 79 num -->
		<div id="box79num" class="t sg_3"><input type="text" id="box_79_num" class="width70 redFont" name="box_79_num" value="{{this.8.dbo_UB04.dataValues.FL79_c}}"></div>
		<!-- box 79 Last -->
		<div id="t4f_3" class="t s4_3">LAST</div>
		<div id="box79last" class="t sg_3"><input type="text" id="box_79_last" class="width130 redFont" name="box_79_last" value="{{this.8.dbo_UB04.dataValues.FL79_d}}"></div>
		<!-- box 79 first -->
		<div id="t4g_3" class="t s4_3">FIRST</div>
		<div id="box79first" class="t sg_3"><input type="text" id="box_79_first" class="width100 redFont" name="box_79_first" value="{{this.8.dbo_UB04.dataValues.FL79_e}}"></div>

		<!-- box 80 remarks -->
		<div id="t7e_3" class="t s4_3">80 REMARKS</div>
		<!-- box 80 b -->
		<div id="tcq_3" class="t sh_3"><input type="text" id="box_80b" name="box_80b" value="{{this.8.dbo_UB04.dataValues.FL80b}}"></div>
		<!-- box 80 c -->
		<div id="tcr_3" class="t sh_3"><input type="text" id="box_80c" name="box_80c" value="{{this.8.dbo_UB04.dataValues.FL80c}}"></div>
		<!-- box 80 d -->
		<div id="box80d" class="t sh_3"><input type="text" id="box_80d" name="box_80d" value="{{this.8.dbo_UB04.dataValues.FL80d}}"></div>

		<!-- box 81 CC -->
		<div id="t7m_3" class="t s4_3">81CC</div>
		<div id="t7h_3" class="t s4_3">a</div>
		<div id="t49_3" class="t s4_3">b</div>
		<div id="t4c_3" class="t s4_3">c</div>
		<div id="t4e_3" class="t s4_3">d</div>

		<!-- box 81aOne -->
		<div id="tcs_3" class="t sg_3"><input type="text" id="box_81aOne" class="width11_5 redFont" name="box_81aOne" value="{{this.8.dbo_UB04.dataValues.FL81_a1}}"></div>
		<!-- box 81aTwo -->
		<div id="tct_3" class="t sg_3"><input type="text" id="box_81aTwo" class="width89 redFont" name="box_81aTwo" value="{{this.8.dbo_UB04.dataValues.FL81_a2}}"></div>
		<!-- box 81aThree -->
		<div id="box81aThree" class="t sg_3"><input type="text" id="box_81aThree" class="width100 redFont" name="box_81aThree" value="{{this.8.dbo_UB04.dataValues.FL81_a3}}"></div>

		<!-- box 81bOne -->
		<div id="box81bOne" class="t sg_3"><input type="text" id="box_81bOne" class="width11_5 redFont greyBckg" name="box_81bOne" value="{{this.8.dbo_UB04.dataValues.FL81_b1}}"></div>
		<!-- box 81bTwo -->
		<div id="box81bTwo" class="t sg_3"><input type="text" id="box_81bTwo" class="width89 redFont greyBckg" name="box_81bTwo" value="{{this.8.dbo_UB04.dataValues.FL81_b2}}"></div>
		<!-- box 81bThree -->
		<div id="box81bThree" class="t sg_3"><input type="text" id="box_81bThree" class="width100 redFont greyBckg" name="box_81bThree" value="{{this.8.dbo_UB04.dataValues.FL81_b3}}"></div>

		<!-- box 81cOne -->
		<div id="box81cOne" class="t sg_3"><input type="text" id="box_81cOne" class="width11_5 redFont" name="box_81cOne" value="{{this.8.dbo_UB04.dataValues.FL81_c1}}"></div>
		<!-- box 81cTwo -->
		<div id="box81cTwo" class="t sg_3"><input type="text" id="box_81cTwo" class="width89 redFont" name="box_81cTwo" value="{{this.8.dbo_UB04.dataValues.FL81_c2}}"></div>
		<!-- box 81cThree -->
		<div id="box81cThree" class="t sg_3"><input type="text" id="box_81cThree" class="width100 redFont" name="box_81cThree" value="{{this.8.dbo_UB04.dataValues.FL81_c3}}"></div>

		<!-- box 81dOne -->
		<div id="box81dOne" class="t sg_3"><input type="text" id="box_81dOne" class="width11_5 redFont greyBckg" name="box_81dOne" value="{{this.8.dbo_UB04.dataValues.F81L_d1}}"></div>
		<!-- box 81dTwo -->
		<div id="box81dTwo" class="t sg_3"><input type="text" id="box_81dTwo" class="width89 redFont greyBckg" name="box_81dTwo" value="{{this.8.dbo_UB04.dataValues.FL81_d2}}"></div>
		<!-- box 81dThree -->
		<div id="box81dThree" class="t sg_3"><input type="text" id="box_81dThree" class="width100 redFont greyBckg" name="box_81dThree" value="{{this.8.dbo_UB04.dataValues.FL8_d3}}"></div>


		<div id="tc_3" class="t s6_3">a</div>
		<div id="td_3" class="t s6_3">b</div>
		<div id="te_3" class="t s6_3">c</div> 
		<div id="tf_3" class="t s6_3">d</div>
		<div id="ti_3" class="t s7_3">1</div>
		<div id="tj_3" class="t s7_3">2</div>
		<div id="tk_3" class="t s7_3">3</div>
		<div id="tl_3" class="t s7_3">4</div>
		<div id="tm_3" class="t s7_3">5</div>
		<div id="tn_3" class="t s7_3">6</div>
		<div id="to_3" class="t s7_3">7</div>
		<div id="tp_3" class="t s7_3">8</div>
		<div id="tq_3" class="t s7_3">9</div>
		<div id="tr_3" class="t s7_3">10</div>
		<div id="ts_3" class="t s7_3">11</div>
		<div id="tt_3" class="t s7_3">12</div>
		<div id="tu_3" class="t s7_3">13</div>
		<div id="tv_3" class="t s7_3">14</div>
		<div id="tw_3" class="t s7_3">15</div>
		<div id="tx_3" class="t s7_3">16</div>
		<div id="ty_3" class="t s7_3">17</div>
		<div id="tz_3" class="t s7_3">18</div>
		<div id="t10_3" class="t s7_3">19</div>
		<div id="t11_3" class="t s7_3">20</div>
		<div id="t12_3" class="t s7_3">21</div>
		<div id="t13_3" class="t s7_3">22</div>
		<div id="t14_3" class="t s7_3">23</div>
		<div id="t15_3" class="t s7_3">1</div>
		<div id="t16_3" class="t s7_3">2</div>
		<div id="t17_3" class="t s7_3">3</div>
		<div id="t18_3" class="t s7_3">4</div>
		<div id="t19_3" class="t s7_3">5</div>
		<div id="t1a_3" class="t s7_3">6</div>
		<div id="t1b_3" class="t s7_3">7</div>
		<div id="t1c_3" class="t s7_3">8</div>
		<div id="t1d_3" class="t s7_3">9</div>
		<div id="t1e_3" class="t s7_3">10</div>
		<div id="t1f_3" class="t s7_3">11</div>
		<div id="t1g_3" class="t s7_3">12</div>
		<div id="t1h_3" class="t s7_3">13</div>
		<div id="t1i_3" class="t s7_3">14</div>
		<div id="t1j_3" class="t s7_3">15</div>
		<div id="t1k_3" class="t s7_3">16</div>
		<div id="t1l_3" class="t s7_3">17</div>
		<div id="t1m_3" class="t s7_3">18</div>
		<div id="t1n_3" class="t s7_3">19</div>
		<div id="t1o_3" class="t s7_3">20</div>
		<div id="t1p_3" class="t s7_3">21</div>
		<div id="t1q_3" class="t s7_3">22</div>
		<div id="t1r_3" class="t s7_3">23</div>
		<div id="t1s_3" class="t s7_3">A</div>
		<div id="t1t_3" class="t s7_3">B</div>
		<div id="t1u_3" class="t s7_3">C</div>
		<div id="t2i_3" class="t s4_3">a</div>
		<div id="t2j_3" class="t s4_3">b</div>
		<div id="t2k_3" class="t s4_3">c</div>
		<div id="t2l_3" class="t s4_3">d</div>
		<div id="t4h_3" class="t s4_3">UB-04</div>
		<div id="t4i_3" class="t s4_3">CMS-1450</div>
		<div id="t4j_3" class="t s4_3">7</div>
		<div id="t59_3" class="t s4_3"></div>
		<div id="t5a_3" class="t s4_3">b</div>
		<div id="t5b_3" class="t sa_3">.</div>
		<div id="t75_3" class="t s4_3">68</div>
		<div id="t7n_3" class="t sc_3">CREATION DATE </div>
		<div id="boxcreateDate" class="t sb_3"><input type="text" id="box_creationDate" class="width60" name="box_creationDate" placeholder="MM/DD/YYYY" value="{{this.8.dbo_UB04.dataValues.FL45_23}}"></div>
		<div id="t7s_3" class="t s4_3">#</div>
		<div id="t83_3" class="t s4_3">APPROVED OMB NO .</div>
		<div id="t84_3" class="t sb_3">e</div>
		<div id="t85_3" class="t s4_3">a</div>
		<div id="t8d_3" class="t s4_3">6</div>
		<div id="t8e_3" class="t s4_3">STATEMENT</div>
		<div id="t8f_3" class="t s4_3">COVERS</div>
		<div id="t8g_3" class="t s4_3">PERIOD</div>
		<div id="t8s_3" class="t sd_3">National Uni form</div>
		<div id="t8t_3" class="t se_3">NUBC</div>
		<div id="t8u_3" class="t sf_3"></div>
		<div id="t8z_3" class="t s4_3">LIC9213257</div>	
		<div id="t92_3" class="t s7_3">A</div>
		<div id="t93_3" class="t s7_3">B</div>
		<div id="t94_3" class="t s7_3">C</div>
		<div id="t95_3" class="t s7_3">A</div>
		<div id="t96_3" class="t s7_3">B</div>
		<div id="t97_3" class="t s7_3">C</div>
		<div id="t98_3" class="t s7_3">A</div>
		<div id="t99_3" class="t s7_3">B</div>
		<div id="t9a_3" class="t s7_3">C</div>
		<div id="t9b_3" class="t s7_3">A</div>
		<div id="t9c_3" class="t s7_3">B</div>
		<div id="t9d_3" class="t s7_3">C</div>
		<div id="t9e_3" class="t s7_3">A</div>
		<div id="t9f_3" class="t s7_3">B</div>
		<div id="t9g_3" class="t s7_3">C</div>
		<div id="t9h_3" class="t s7_3">a</div>
		<div id="t9i_3" class="t s7_3">b</div>
		<div id="t9j_3" class="t s7_3">a</div>
		<div id="t9k_3" class="t s7_3">b</div>
		{{!-- <div id="tcx_3" class="t sl_3"><button type="button" class="PdfDownload" data-id="">Generate PDF</button></div> --}}
		<div id="tcy_3" class="t sm_3"> <button type="button" class="update {{this.9.page}}" data-id={{this.8.dbo_UB04.dataValues.id}}>Update</button></div>
		
	</div>
</form>
{{/each}}